html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}

body{line-height:1}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

:focus{outline:0}
a:focus{outline:0}

ins{text-decoration:none}

del{text-decoration:line-through}

table{border-collapse:collapse;border-spacing:0}

a{ text-decoration:none; }


body{font-family:Arial, Helvetica, sans-serif; -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale; font-size:12px; color:#282828; line-height:20px; background:#f2f2f2 url('../img/body-bg111.jpg') repeat top left; padding:150px 0 160px;}

p{margin:10px 0px;}
.link{color:#fb8300;}
.orange{color:#fb8300;}
	h1 {color: #fb8300; font-size: 26px; margin: 20px 0;  text-shadow: 0px 2px 1px #c9c9c9; text-transform: capitalize;}
	h2 {color: #096DA9; font-family: 'Roboto Condensed',sans-serif; font-size: 20px; font-weight: bold; margin: 10px 0;}
	h3{font-family: 'Roboto Condensed', sans-serif; font-size:18px; font-weight:bold; color:#fb8300;}
	h4{font-size:22px; font-weight:normal; color:#fff; border-bottom:1px solid #FFF; padding-bottom:5px;}
	h5{font-family: 'Roboto Condensed', sans-serif; font-size:20px; color:#010103; font-weight:normal;}
	h6{font-size:20px; color:#b0cdf0; font-weight:normal;}

.clear{clear:both;}
.debug{border:1px solid red;}

.btn.full{width:100%;}
.btn.orange{color:#000; border-color:#ff7b01; background: #ffad0d; background: -moz-linear-gradient(top,  #ffad0d 0%, #ff7b01 100%);
background: -webkit-linear-gradient(top,  #ffad0d 0%,#ff7b01 100%);
background: linear-gradient(to bottom,  #ffad0d 0%,#ff7b01 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad0d', endColorstr='#ff7b01',GradientType=0 );}

.btn.blue{color:#FFF; border-color:#29448c; background: #1743ac;
background: -moz-linear-gradient(top,  #1743ac 0%, #29448c 100%);
background: -webkit-linear-gradient(top,  #1743ac 0%,#29448c 100%);
background: linear-gradient(to bottom,  #1743ac 0%,#29448c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1743ac', endColorstr='#29448c',GradientType=0 );}

.hvr-float-shadow {backface-visibility: hidden; box-shadow: 0 0 1px rgba(0, 0, 0, 0); display: inline-block; position: relative; transform: translateZ(0px); transition-duration: 0.3s; transition-property: transform; vertical-align: middle;}
.hvr-float-shadow::before {background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0; content: ""; height: 10px; left: 5%; opacity: 0; pointer-events: none; position: absolute; top: 100%; transition-duration: 0.3s; transition-property: transform, opacity; width: 90%; z-index: -1;}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {transform: translateY(-5px);}
.hvr-float-shadow:hover::before, .hvr-float-shadow:focus::before, .hvr-float-shadow:active::before {opacity: 1; transform: translateY(5px);}

.navbar-inverse {border:none; box-shadow:0 2px 4px rgba(0,0,0,0.26); height:150px; background: #dedede; background: -moz-linear-gradient(top,  #dedede 0%, #ffffff 100%); background: -webkit-linear-gradient(top,  #dedede 0%,#ffffff 100%); background: linear-gradient(to bottom,  #dedede 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff',GradientType=0 );}

.navbar-header{height:150px;}
	.navbar-brand {max-width:100%; height:auto;}
	.navbar-header p {font-size: 12px; line-height:14px; text-align: center; margin:0; position: absolute; left: 130px; top: 58px; width: 180px;}

.navbar-collapse {float: right; width: 69%;}
.header-top{margin-top:15px;}
.signup-buttons{margin-top:5px;}
	.signup-buttons .col-xs-12{margin-bottom:6px;}
	.signup-buttons .col-xs-12:last-child{margin-bottom:0px;}
	.header-top a{font-size:15px; line-height:35px;}
	#frm-search {margin-bottom:10px;}
	#frm-search .form-control{border: 1px solid black; height: 35px; border-radius:0; background: #ebebeb; background: -moz-linear-gradient(top,  #ebebeb 0%, #ffffff 80%); background: -webkit-linear-gradient(top,  #ebebeb 0%,#ffffff 80%); background: linear-gradient(to bottom,  #ebebeb 0%,#ffffff 80%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 );}
	#frm-search .input-group-addon {border: 1px solid #000; border-radius: 0px; box-shadow:0 0 8px #000 inset; font-size: 20px; padding:6px; background: #424344; background: -moz-radial-gradient(center, ellipse cover,  #424344 0%, #191818 100%); background: -webkit-radial-gradient(center, ellipse cover,  #424344 0%,#191818 100%); background: radial-gradient(ellipse at center,  #424344 0%,#191818 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424344', endColorstr='#191818',GradientType=1 );}
	#frm-search button {background:none; border:none; color:#eee}
		#frm-search button:hover {color:#FFF}
	ul.social li{margin:0px 4px; float:right}

.navbar-nav{width:100%; margin:10px 0 0; padding:1px; border:1px solid #000; box-shadow:0 0 2px rgba(255,255,255,0.8) inset; background: #353535; background: -moz-linear-gradient(top,  #353535 0%, #333333 50%, #101010 50%, #0d0d0d 100%); background: -webkit-linear-gradient(top,  #353535 0%,#333333 50%,#101010 50%,#0d0d0d 100%); background: linear-gradient(to bottom,  #353535 0%,#333333 50%,#101010 50%,#0d0d0d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#0d0d0d',GradientType=0 );}
    .navbar-nav > li {display:block; float:left; width:50%;}
	.navbar-nav > li:nth-child(odd) {background:url('../img/nav_sep.png') no-repeat top right;}
	/*.navbar-nav > li:last-child {background:none;}*/
	.navbar-nav > li > a {font-size:15px; line-height:34px; color:#FFF; padding:0 11px;}
		.navbar-nav > li > a:hover, .navbar-nav > li.active > a {background: #fcb725; background: -moz-linear-gradient(top,  #fcb725 0%, #fc9f24 50%, #fb8d00 50%, #fa7901 100%); background: -webkit-linear-gradient(top,  #fcb725 0%,#fc9f24 50%,#fb8d00 50%,#fa7901 100%); background: linear-gradient(to bottom,  #fcb725 0%,#fc9f24 50%,#fb8d00 50%,#fa7901 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb725', endColorstr='#fa7901',GradientType=0 );}
	.dropdown-menu {background-color: #0d0d0d; border:none; border-radius: 0px; box-shadow:none; min-width: 100px; padding: 0;}
		.dropdown-menu > li {border-bottom:1px solid rgba(255,255,255,0.5);}
		.dropdown-menu > li > a {color: #FFF; padding: 6px 10px;}
		.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {color: #FFF; background-color: #fa7901;}

.footer{width:100%; background:#111; border-top:3px solid #fc8300; position:fixed; bottom:0; padding:15px 0;}
	.copyright{font-size:12px; color:#a5a5a5; text-align:center; margin-top:10px;}
	.end-links{color:#a5a5a5; text-align: center;}
	.end-links a{color:#a5a5a5; margin:0px 5px;}
	.end-links a:hover{text-decoration:underline;}

#activity-slider {background: #fff; border: 1px solid #000; color: #000; line-height:20px; text-align:center; margin: 15px 0;}
	#activity-slider p {background: #f9a21f; color: #000; font-weight: bold; text-align: center; line-height:14px; padding: 5px; margin:0;}
	#activity-slider a { padding:5px;}

#myCarousel{margin-bottom:15px;}
.white-box{background:url('../img/box-bg.jpg') repeat-x bottom left #FFFFFF; padding:5px; margin:0 0 15px; border:1px solid #e0e0e0;  -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; -khtml-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; box-shadow:0px 3px 0px #808080;}
.menu {clear: both;}
	.menu li {display: block; float:left; width:50%; text-align:center;}
	.menu li a {display:block; background: url("../img/tab-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #000000; color: #FB8300; font-family: 'Roboto Condensed',sans-serif; font-size: 12px; font-weight: bold; line-height: 30px; text-decoration: none;}
	.menu li a.active, .menu li a.active:hover, .menu li a:hover{background:url('../img/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000;}
	
	  .arrow{position:absolute; top:6px; right:10px;}

.content1{clear: both;}
	.content1 img{box-shadow:0 0 3px #ccc; max-width: 100%; height:auto;}
	.content1 ul li {margin: 10px 0px 10px 15px; position:relative;}
	.content1 ul li:before {content:url(../img/bullet.png); position:absolute; top:1px; left:-14px;}
	.content1 ul li a {color: #101010; line-height: 16px; font-size: 13px;}
		.content1 ul li a:hover {color: #fb8300;}
	
dl {border-bottom: 1px solid #DDDDDD; clear: both; min-height: 250px; padding: 10px 5px;}
	dl:nth-child(even) {background: #f0f0f0;}
	dt {float:left; width:30%; text-align:center;}
	dd {float: left; width:70%;}
	
.details {float: left; width: 100%; margin-left:5%; position:relative;}
	.details p {font-size: 13px; line-height: 20px; margin-bottom:5px;}
	.details a {background: rgba(0, 0, 0, 0) url("../img/arrow-bullet.png") no-repeat scroll 3px 3px; color: #fb9000; padding: 0; position: absolute; right: 5px; top: 40px; width: 105px; font-size: 14px; font-weight: bold; text-align:right;}
.flag {position: absolute; right: 10px; top: 0px;}
.flag img{width:25px; height:auto;}
.video {float: left; width: 80%; text-align:right;}
.view-btn{padding:10px 10px 5px; text-align:right;}

.slide10{background-color: #FC8F00; cursor: pointer; color: white; padding:5px;}

.right_updates {background-color: #fff; border: 1px solid #ccc; margin-bottom: 10px; padding: 8px 4px 4px; text-align:center;}
.img-app{display:block; border:1px solid #ccc; border-radius:5px; width:160px; height:auto; margin:0 auto;}


@media (min-width:360px) {
	body{padding:150px 0 140px;}
	.menu li a {font-size:14px;}
	dl {min-height: 270px;}
}
@media (min-width:480px) {
	body{padding:150px 0 120px;}
	.navbar-header p {font-size: 14px; left: 125px; top: 10px;}
	.navbar-nav > li {width:33.3333%;}
	.navbar-nav > li:nth-child(1), .navbar-nav > li:nth-child(2), .navbar-nav > li:nth-child(4), .navbar-nav > li:nth-child(5), .navbar-nav > li:nth-child(7), .navbar-nav > li:nth-child(8) {background:url('../img/nav_sep.png') no-repeat top right;}
	.navbar-nav > li:nth-child(3), .navbar-nav > li:nth-child(6), .navbar-nav > li:nth-child(9) {background:none;}
	.menu li a {font-size:16px;}
	dt {width: 20%;}
	dd {width: 80%;}
	dl {min-height: 130px;}
	.details {margin-left: 3%; width: 55%;}
	.video {width: 42%;}
}
@media (min-width:640px) {
	dl {min-height: 145px;}
}
@media (min-width:768px) {
	.navbar-header p {top:30px;}
	#frm-search {margin-bottom: 0px;}
	ul.social li {margin: 0 5px;}
	.signup-buttons .col-xs-12 {margin-bottom: 0px;}
	.signup-buttons .btn {font-size:12px;}
	#myCarousel .carousel-inner {width: 44.5%;}
	#myCarousel2 .carousel-inner {width: 90%;}
	.carousel-indicators {right: 90px;}
	.details {margin-left: 0; width: 60%;}
	.details a{top: 90px;}
	.video {width: 40%;}
}
@media (min-width:1024px) {
	body{padding:150px 0 90px;}
	.navbar-nav > li {width:auto; background:url('../img/nav_sep.png') no-repeat top right !important;}
	.navbar-nav > li:last-child {background:none!important;}
		.navbar-nav > li:last-child a{background:#ed201b; color:#FFF;}
	.navbar-nav > li > a{font-size:12px; padding:0 9px 0 8px;}
	.dropdown-menu > li > a {font-size:12px; padding: 6px 5px;}
	#activity-slider {height: 25px; line-height: 24px; margin: 15px 0; overflow: hidden; text-align:left;}
	#activity-slider p {float:left; width: 113px;}
	#myCarousel .carousel-inner {width: 100%;}
	#myCarousel2 .carousel-inner {width: 100%;}
	.carousel-indicators {right: 30px;}
	.details {margin-left: 2%; width: 58%;}
}
@media (min-width:1280px) {
	.signup-buttons .btn {font-size:14px;}
	.navbar-nav > li > a{font-size:15px; padding:0 13px 0 12px;}
	#activity-slider {width: 98%;}
	#myCarousel2 .carousel-inner{width: 97.2%;}
	.details {margin-left: 0; width: 60%;}
	.img-app {width: 100%;}
}
@media (min-width:1280px) {
	.navbar-collapse {width: 910px;}
	.navbar-nav > li > a{font-size:15px; padding:0 15px 0 15.75px;}
}