/******* Rounded Corner *********/

/*.content{
	border: 1px solid #cecfd2;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	behavior: url(/PIE.htc);
}

.menu{
	border:1px solid #cecfd2;
	-webkit-border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	behavior: url(/PIE.htc);
}

.content-box{
	}

.box-inner ul li{box-shadow:#a1a1a1 0px 3px 3px;}*/
