.slide{
		width:247px; height:25px; padding-top:5px; background-color: #FC8F00; cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target{
			width:247px; 
		font:12px; font-family:Arial, Helvetica, sans-serif; font-size:13px; 	color:#2b2b2c;
		display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

		
           border: none; 
		}
		.s{
			width:247px; height:25px;padding-top:5px;background-color: black; cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		
		.slide1{
		width:247px; height:25px; padding-top:5px;background-color: #FC8F00; cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target1{
			
           width:247px; 
		font:12px;
           border: none;font-family:Arial, Helvetica, sans-serif; font-size:13px; 	color:#2b2b2c;
		display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

		
		}
		.s1{
			width:247px; height:25px;padding-top:5px; background-color: black; cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			color: white; 
		}
		.backimage{
		background-image: url(minus-small-white-icon.png);
		
		}.slide2{
		width:247px; height:25px;padding-top:5px; background-color: #FC8F00; cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target2{
			width:247px; 
		font:12px;
           border: none; font-family:Arial, Helvetica, sans-serif;font-size:13px; 	color:#2b2b2c;
		display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

		
		}
		.s2{
			width:247px; height:25px;padding-top:5px; background-color: black; cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		
	.slide3{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target3{
			
           width:247px; font:12px;
           border:none;font-family:Arial, Helvetica, sans-serif;font-size:13px; 	color:#2b2b2c;
		display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

		
		}
		.s3{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		
.slide4{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target4{
			
           width:247px; font:12px;
           border:none; font-family:Arial, Helvetica, sans-serif;font-size:13px; 	color:#2b2b2c;display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

           
		}
		.s4{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		.slide5{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target5{
			
           width:247px; font-family:Arial, Helvetica, sans-serif; padding: 0px; margin: 0px;font-size:13px; 	color:#2b2b2c;
           border:none;display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

           
		}
		.s5{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		
		.slide6{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target6{
			
           width:247px; 
		font:12px;display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

		
           border:none; font-family:Arial, Helvetica, sans-serif;font-size:13px; 	color:#2b2b2c;
		}
		.s6{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
.slide7{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

		
		}
		.target7{
			
           width:247px; 
		font-family:Arial, Helvetica, sans-serif; font-size:13px; 	color:#2b2b2c;
           border:none; display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

           
		}
		.s7{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		.slide8{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target8{
			font-family:Arial, Helvetica, sans-serif;font-size:13px; 	color:#2b2b2c;
           width:247px; display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

           
		font:12px; 
           border:none;
		}
		.s8{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		.slide9{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target9{
			
           width:247px; font-family:Arial, Helvetica, sans-serif;font-size:13px; 	color:#2b2b2c;
		   font:12px;
           border:none;display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

           
		}
		.s9{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
		.slide10{
		width:247px; height:30px; background-color: #FC8F00;  cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
		color: white; 
		}
		.target10{
			
           width:247px; font-family:Arial, Helvetica, sans-serif; font-size:13px; 	color:#2b2b2c;
		font:12px; display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;

		
           border:none;
		}
		.s10{
			width:247px; height:30px; background-color: black;  color:#FC8F00;   cursor: pointer;background-position: left -57px;font: bold 12px Tahoma;
			 color: white; 
		}
			
