/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) { /* width 320 */
	/* 320 mobile lamby */
	#header{width:320px !important;}
	#header .logo{margin-left: 10px !important;}
	#header .header-right{width:310px !important;}
	#header .header-right .searchbox{margin-left:10px !important; width:280px !important;}
	#header .header-right .header-top a{display: none;}
	#header .header-right a.submit-signup{width:150px !important; background: none !important; margin: 0px !important; padding: 0px !important;}
	#header .header-right a.submit-signup:last-child{padding-right:3px;}
	#header .header-right a.submit-signup:last-child{border-right:1px solid #ccc;}
	#header .header-right .nav{width:310px !important;}
	#header .header-right .nav li:nth-child(2){display:none;}
	#header .header-right .nav li:nth-child(3){display:none;}
	.wrapper{width:320px  !important;}
	#small-banner-hide{margin:0px !important; }
	.middle{width:320px !important;}
	.content{width:310px;}
	.column1{width:310px !important;}
}

@media screen and (max-width : 768px) { /* width 480 */
	.top{height: 280px !important;}
	#header{width:480px !important;}
	#header .logo{margin-left: 100px;}
	#header .header-right{clear:both; float:left; width:100%;}
	#small-banner-hide{display:block !important; margin:10px 75px 10px 75px !important;}
	#large-banner-hide, #large-banner-show{display:none;}
	.wrapper{width:480px  !important;}
	#header .header-right .nav{width:460px;margin-left:10px;}
	.content{width:450px;}
	.white-box.content{width:450px !important;}
	.column1{width:450px !important; margin-left:10px !important;}
	.column1 .content1 dl{min-height: 150px !important;}
	.column1 .content1 dl dd{width:300px !important;}
	.column1 .content1 dl dd .details{width:115px !important;}
	.column1 .content1 dl dd .details a{position: static !important; float: left !important;}
	.column1 .content1 dl dd .flag{display:none !important;}
	#companies dd{width:300px !important;}
	#companies dd .details{width:115px !important;}
	#companies dd .details a{position: static !important; float: left !important;}
	.community-box{width:42%;}
	.community-box img{margin-left:14px;}
	#in-your-region .large-column {width:204px !important;}
	.middle{width:480px !important;}
	#whats-new.detail img{width:410px !important}
	.form-box{clear:both !important; width:100% !important; margin-bottom:10px !important; width:98% !important;}
	.profile div{width:450px !important; }
	.profile .profile-img img{width:450px !important; height: 450px !important;}
	#dashboard .small-column{width:450px !important;}
	#dashboard .large-column{width:440px !important; margin:10px 5px !important; position: relative !important;}
	#invite-friend-link {display:none !important;}
	#dashboard a.submit-login,#dashboard input[type=submit]{left:-80px !important;}
	#lightbox-container-image-box, #lightbox-container-image{width:360px !important; height:360px !important;}
	#from-album-btn{margin:0px !important; }
	#dashboard .profile-action td a{left: 0px !important;}
	#dashboard .profile-action input[type="submit"]{left:7px !important;}
	#from-album{left:0px !important; }
	img#lightbox-image{width:350px !important; height:350px !important;}
	#identity-card{width:450px !important;}
	#inbox select{width:200px !important;}

	.footer-container{width:320px !important; padding:10px 50px 0px 70px !important;}
	.column2{display:none;}
	#header .header-right .social{display:none;}
	#header .header-right .searchbox{width:300px !important;}
	#header .header-right .signup-buttons .submit-signup{margin-right:15px; margin-left:5px;}
	#header .header-right .nav ul li a {padding:0px 8px !important;}
	#header .header-right .nav li:nth-child(6){display:none;}
	#header .header-right .nav li:nth-child(7){display:none;}
	#header .header-right .nav li:nth-child(8){display:none;}
	.rightbar{display:none;}
	
	.column2{display:none;}
	.list li .list-text{width:350px;}
	#in-your-region .large-column{width:220px;}
	#header-welcome{display:none !important;}
	#dashboard .large-column {width:71%;}
	fieldset textarea[name=activity]{width:450px !important; margin-left: 0px !important}
	#dashboard{position:relative !important;}
	.orange-box{overflow: hidden;}
	#invite-friend-link{position:absolute !important; top:170px !important; left:230px !important;}
	#dashboard .form-box{width:100%;}
	#steps li{padding:7px !important; min-height: 52px;}
	#cancel{left:-50px !important;}
	#update{left:-40px !important;}
	#invites input[name=searchere]{width:450px !important;}
	input[name=subject], textarea[name=message], #s2id_to{width:250px !important; margin-top:0px !important; }
	input[name=subject]{margin-left:27px !important;}
	#s2id_to{margin-left:55px !important;}
	#advance-search .column1{margin-left: 10px !important; width:400px !important;}
	#advance-search .white-box{width: 420px !important;}
	#advance-search dd{width:300px !important;}
	#advance-search dd .details{width:115px !important;}
	.copyright span strong{display:block; clear:both;}
}

@media screen and (max-width: 1024px) { /* width 768 */
	#header{width:768px;}
	#header .header-right{width:468px;}
	#header .header-right .social{display:none;}
	#header .header-right .searchbox{width:300px !important;}
	#header .header-right .signup-buttons .submit-signup{margin-right:15px; margin-left:5px;}
	#header .header-right .nav{width:450px;}
	#header .header-right .nav ul li a {padding:0px 8px !important;}
	#header .header-right .nav li:nth-child(6){display:none;}
	#header .header-right .nav li:nth-child(7){display:none;}
	#header .header-right .nav li:nth-child(8){display:none;}
	.wrapper{width:768px;}
	#small-banner-hide, #small-banner-show{display:none;}
	#large-banner-hide, #large-banner-show{float:none; margin-left: 50px;}
	.rightbar{display:none;}
	.content{width:741px;}
	.column1{margin-left:50px; width:650px;}
	.column1 .content1 dd{width:500px !important;}
	.column1 .content1 dd .details{width:280px;}
	.column2{display:none;}
	.footer-container{width:580px; padding:10px 50px 0px 70px;}
	.list li .list-text{width:350px;}
	#companies dd{width:580px !important;}
	#companies dd .details{width:320px !important;}
	#companies dd .details a{left:240px;}
	#in-your-region .large-column{width:220px;}
	#header-welcome{display:none !important;}
	#dashboard .large-column {width:71%;}
	fieldset textarea[name=activity]{width:470px !important;}
	.profile-contact{display:none !important;}
	#dashboard{position:relative !important;}
	.orange-box{overflow: hidden;}
	#invite-friend-link{position:absolute !important; top:170px !important; left:230px !important;}
	#dashboard .form-box{width:100%;}
	#steps li{padding:12px; min-height: 52px;}
	#cancel{left:-50px !important;}
	#update{left:-40px !important;}
	#invites input[name=searchere]{width:450px !important;}
	input[name=subject], textarea[name=message], #s2id_to{width:350px !important; margin-top:0px !important; }
	input[name=subject]{margin-left:27px !important;}
	#s2id_to{margin-left:55px !important;}
	#advance-search .column1{margin-left: 10px !important; width:700px !important;}
	#advance-search .white-box{width: 720px !important;}
	#advance-search dd{width:550px !important;}
	#advance-search dd .details{width:300px !important;}
}​