 body{
 font-family:Arial, Helvetica, sans-serif;
 /*font-family:verdana;*/
 font-size:12px;
 color:#282828;
 line-height:20px;
 background:#f2f2f2 url('../images/body-bg1.jpg') repeat top left;
 margin:0px;
 padding:0px;
}
.tooltip_show {
  background: rgb(200,240,255);
  padding: 6px 36px;
  display: inline-block;
  font-size: 1.2em;
  border-radius: 4px;
  border:0;
  cursor: pointer;
  color: #000;
}
p{margin:10px 0px;}
.link{color:#fb8300;}
.orange{color:#fb8300;}
	h1 {color: #fb8300; font-size: 26px; margin: 20px 0;  text-shadow: 0px 2px 1px #c9c9c9; text-transform: capitalize;}
	h2 {color: #096DA9; font-family: 'Roboto Condensed',sans-serif; font-size: 20px; font-weight: bold; margin: 10px 0;}
	h3{font-family: 'Roboto Condensed', sans-serif; font-size:18px; font-weight:bold; color:#fb8300;}
	h4{font-size:22px; font-weight:normal; color:#fff; border-bottom:1px solid #FFF; padding-bottom:5px;}
	h5{font-family: 'Roboto Condensed', sans-serif; font-size:20px; color:#010103; font-weight:normal;}
	h6{font-size:20px; color:#b0cdf0; font-weight:normal;}

.clear{clear:both;}
.debug{border:1px solid red;}
.wrapper{width:1000px; margin:0px auto; padding:5px 0px; position:relative; z-index:100;}

.top{background:url('../images/top-bg.png') repeat-x; height:150px;}
.spacer{margin-top:20px;}

	#header{width:1000px; margin:auto;}
		.logo{float:left; width:300px; height:125px; margin-top:15px; position:relative;}
		.logo p{position: absolute; top:0px; right:0px; width:180px; text-align: center; font-size:14px;}
		.header-right{float:right; width:700px; height:140px;}

		.header-top{margin-top:5px;}
			.searchbox{float:left; background:url(../images/searchbox-bg.jpg) repeat-x; width:370px; height:35px; border:1px solid black; margin-left:25px; margin-top:5px;}
				.input-search{background:none; width:325px; height:30px; padding:3px; font-size:15px; color:#111; border:none; float:left;}
				.submit-search{background:url('../images/search-button.jpg') no-repeat; width:31px; height:31px; border:none; margin:2px; float:right;}
			.social{float:right; width:210px; margin-top:7px;}
				.social ul{}
				.social ul li{margin:0px 2px; float:left}
				.social ul li a{}

			.signup-buttons{clear:both; padding-top:15px;}
			.submit-signup{background:url('../images/top-button-bg.png') no-repeat; width:206px; height:24px; border:none; margin-left:25px; float:right;  font-size:14px; font-weight:bold; color:#111; text-align:center; padding-bottom:5px; padding-top:7px;}
	.submit-inv{background:url('../images/top-button-bg.png') no-repeat; width:146px; height:24px; border:none; margin-left:5px; float:right;  font-size:14px; font-weight:bold; color:#fff; text-align:center; padding-bottom:5px; padding-top:7px;}

		.nav{background:url(../images/nav-bg.jpg) repeat-x; width: 690px; height:31px; margin-top:10px; border:1px solid black; margin-left:4px;}
			.nav ul{display:inline;}
			.nav ul li{display:block; float:left; background:url('../images/nav-sep.png') no-repeat top left;}
			.nav ul li:first-child{background:none!important;}
			.nav ul li a{display:block; font-family: 'Roboto Condensed', sans-serif; font-size:15px; color:#fff; line-height:31px; text-align:center; padding:0px 14px;}
			.nav ul li a:hover{color:#000; background:url('../images/nav-hover-bg.jpg') repeat-x;}
			.nav ul li.nav_selected a{color:#000; background:url('../images/nav-hover-bg.jpg') repeat-x;}


		.login-area{width:330px; height:270px; float:left;}
			.login-area-heading{background:url('../images/login-icon.png') no-repeat left; font-size:24px; font-weight:bold; color:#fb8300; text-shadow:0px 2px 0px #bbb; line-height:50px; padding-left:50px; margin:20px 0px 15px 25px;}
			.input-login{background:url('../images/input-text-bg.jpg') repeat-x; width:265px; height:22px; padding:5px; font-size:15px; color:#c5c5c5; border:1px solid #dedede; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; margin-left:20px;}
			.submit-login{cursor:pointer;background:url('../images/sign-in-button.png') no-repeat; width:124px; height:38px; border:none; float:right; font-size:15px; font-weight:bold; color:#fff; text-align:center; padding-bottom:5px;font-family:Arial, Helvetica, sans-serif;}
			.forgot{text-align:right; font-size:15px; clear:both; line-height:30px;}
				.forgot a{color:#d63034; text-decoration:underline; margin-right:5px;}
				.forgot a:hover{text-decoration:none;}
			.signup{text-align:right; font-size:15px; clear:both; line-height:6px;}
				.signup a{color:#fb8300; text-decoration:underline; margin-right:5px;}
				.signup a:hover{text-decoration:none;}

		.banner{float:right;  position:relative; top:0px; box-shadow:0px 0px 3px #ccc;}
		/********************************************/
		#all-banners-wrappers{ text-align:center;margin:auto;height:314px;}
		#all-banners{ visibility:hidden; margin-left:0px; height:314px;}
		#all-banners-navigation{display:block; position:absolute; bottom:10px; right:30px; width:50px; height:20px; z-index:20;}
		#all-banners-navigation a{border:0px solid blue; width:30px !important; height:30px !important; float:none; padding:1px 6px 3px 4px; margin:2px; color:#fff !important; background:url('../images/banner-nav.jpg') no-repeat; }
		#all-banners-navigation a.activeSlide{ border:0px solid red; background:url('../images/banner-nav-hover.jpg') no-repeat; color:#111 !important; width:16px; height:16px;}

.middle{margin-top:15px;}
	.content{float:left; width:820px;}
		.column1{ float: left;
    width: 550px;
}
			.white-box{background:url('../images/box-bg.jpg') repeat-x bottom left #FFFFFF; padding:5px; border:1px solid #e0e0e0;  -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; -khtml-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; box-shadow:0px 3px 0px #808080;}
			.menu {clear: both; margin:0;}
				.menu li {display: inline; text-align:center; position:relative;}
				.menu li a {background: url("../images/tab-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    color: #FB8300;
    float: left;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 49%;
}
				.menu li a:hover{background:url('../images/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000; font-weight:bold;}
				.menu li.active a {background:url('../images/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000; font-weight:bold;}
				.arrow{position:absolute; top:6px; right:10px;}
				.content1{float: left; clear: both;}
					.content1 ul{}
					.content1 ul li{margin:10px 0px;}
					.content1 ul li a{background:url('../images/bullet.png') no-repeat scroll 0px 3px; padding-left:12px; color:#101010; line-height:18px; font-size:13px;}
					.content1 ul li a:hover{color: #fb8300;}
					fieldset {margin:10px 0px;}
					 dl {border-bottom: 1px solid #DDDDDD;
    clear: both;
    min-height: 130px;
    padding-top: 8px;
}
					 dl:nth-child(even) {background: #f0f0f0;}
					 dl:nth-child(odd) {background: #FFF}
						dt {float:left; text-align:right; width:128px;}
						dd { float: left;
    margin-left: 5px;
    width: 405px;
}

					.pic{background:url('../images/pic-bg.png') no-repeat; width:128px; height:128px;}
						.pic img{float:left; margin-left:7px; margin-top:7px;}
					.club{width:128px; height:128px;}
					.details{float:left; width:200px;}
					.details h3{height:40px; overflow: hidden;}
					.details a{ left: 108px;
    position: absolute;
    top: 70px;
}
					.flag{width:25px; float:left;}
					.video{   float: left;
    height: auto;
    margin-left: 8px;
    width: 170px;
}
					.contact-button{background:url('../images/contact-button-bg.png') no-repeat; width:142px; height:32px; border:none; font-size:18px; color:#fff; text-align:center; margin-top:5px;}
					.list-table{}
					/*.list-table td{border-bottom:1px solid #ddd;}
						.list-table tr:nth-child(even) {background: #f0f0f0;}
						.list-table tr:nth-child(odd) {background: #FFF}*/
		.column2{float: right;
    margin-right: 5px;
    width: 260px;

}

		/*.content ul{}
		.content ul li{}
		.content ul li a{background:url('../images/arrows.png') no-repeat scroll 2px 2px; padding-left:20px; font-weight:bold; color:#2b2b2c; line-height:30px;}
		.content ul li a:hover{color:#0f7bd6;}*/

	.rightbar{float: right;
    width: 160px;
}

#footer{width:100%; margin-top:20px; background:url('../images/footer-bg.jpg') repeat-x; height:76px; position:relative; z-index:100;float:left;}
	.footer-container{width:980px; margin:auto; padding-top:20px;}
	.copyright{font-size:12px; color:#a5a5a5; text-align:center; margin-top:10px;}
	.end-links{color:#a5a5a5; text-align: center;}
	.end-links a{color:#a5a5a5; margin:0px 5px;}
	.end-links a:hover{text-decoration:underline;}

	.profile{padding:5px; box-shadow:0px 0px 3px #ccc; height:310px;}
			.profile-img{float:left; width:280px; height:310;}
			.profile-info{ height:300px; width:325px; padding:5px; float:left; font-size:13px; color:black; line-height: 22px;}
				.country{float:right; margin-top:5px; margin-right:5px;}
			.profile-contact{ height:300px; width:365px; float:left; padding-left:5px; color:#FFFFFF;}
.menu2 {clear: both; margin:0;}
				.menu2 li {display: inline; text-align:center; position:relative;}
				.menu2 li a {background:url('../images/tab-bg.jpg') repeat-x; float:left; border: 1px solid #000; text-decoration: none; font-family: 'Roboto Condensed', sans-serif; font-size:15px; color: #fb8300; font-weight: bold; line-height:30px; padding:0 7px;}
				.menu2 li a:hover{background:url('../images/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000; font-weight:bold;}
				.menu2 li.active a {background:url('../images/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000; font-weight:bold;}
			.menu3 {clear: both; margin:0;}
				.menu3 li {display: inline; text-align:center; position:relative;}
				.menu3 li a {background:url('../images/tab-bg.jpg') repeat-x; float:left; border: 1px solid #000; text-decoration: none; font-family: 'Roboto Condensed', sans-serif; font-size:16px; color: #fb8300; font-weight: bold; line-height:30px;}
				.menu3 li a:hover{background:url('../images/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000; font-weight:bold;}
				.menu3 li.active a {background:url('../images/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000; font-weight:bold;}

				.company-details{background:#FFF; padding:5px; box-shadow:0px 0px 3px #ccc;}
			.company-img{float:left; width:340px; box-shadow:0px 0px 3px #ccc; margin:20px; padding:10px;}
				.company-img img{text-align:center; vertical-align:middle;}
			.company-info{width:580px; padding:5px; float:left; font-size:12px;}
				.headline{font-family: 'Roboto Condensed', sans-serif; font-size:16px; font-weight:bold; color:#fb8300;}
				.company-info dl {clear:both; border-bottom:1px solid #ddd; padding-top:8px; height:20px; line-height:12px;}
					.company-info dl:nth-child(even) {background: #f0f0f0;}
					.company-info dl:nth-child(odd) {background: #FFF}
				.company-info dt {float:left; text-align:left; width:30%; font-weight:bold; padding-left:5px;}
				.company-info dd {float:left; width:60%; margin-left:5px;}
			.company-contact{background:; height:40px; padding:5px; clear:both; background-color:#ddd; line-height:40px;}
				.company-contact a{color:#2B2B2C;}
			.contact-form{width:50%; float:left;}
				.contact-form legend{font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:bold; color:#fb8300; margin-bottom:10px;}
				.contact-form dl {clear:both; border:none; padding-top:0px; height:40px; line-height:40px; margin-bottom:10px;}
					.contact-form dl:nth-child(even) {background:none;}
					.contact-form dl:nth-child(odd) {background:none;}
					.contact-form dt {float:left; text-align:left; width:20%; font-weight:bold;}
					.contact-form dd {float:left; width:30%; margin-left:5px;}



.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


/*******

To display registeration message ..

*/

.alert-success {
border: 1px;
border-style: double;
border-color : black;
padding: 10px;
color: teal;
font-size: 12px;
background-color: #e0fee1; }





.paginp{
	margin: 7px 0;
    overflow: hidden;
    width:450px;
}

.pagin form{float:right; }


.pagin a.last{margin:0 2px;}
.pagin span:hover{}

.current{
	background: none;
    border: 0px solid #b3b3b3;
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    padding:0 15px 0 15px;
	opacity:1;
}
.pagin select[name=pagination-combo]{width:90px;}

.disable{
	background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid #FFFFFF;
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 10px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:1;
}





.prevp, .nextp {
    background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid #b3b3b3;
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 10px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:1;
}
.prevp:hover, .nextp:hover {
   background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid black;

}
.prevp {
    float:left;
}
.nextp {
    float:left
}

.last{

	 background: url("../images/pagination-bg.png") repeat-x;
border: 1px solid #b3b3b3;
color: #000000;
display: block;
float: left;
font-size: 12px;
height: 26px;
line-height: 26px;
margin: 0 10px;
text-align: center;
padding: 0 5px 0 5px;
opacity: 1;
}

.last:hover{

	 background: url("../images/pagination-bg.png") repeat-x;
border: 1px solid black;

}
.disablep {
    background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid #b3b3b3;
    color: silver;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 10px;
    text-align: center;
    padding:0 5px 0 5px;
	background: transparent;
}
.right_updates {background-color: #fff;border: 1px solid #ccc;float:left;height:auto;
    margin-bottom:10px;padding:4px;width:95%;padding-top:8px;}
.right_updates_li {list-style:inside;}
#newsletter{margin:2px 0px; border:1px solid #ccc; border-radius:4px; padding:5px;}

#overs,#balls {width:75px;}
#batsman_id,#fielder_id,#bowler_id {width:185px;}
#runs,#ball_type,#batsman_out,#how_out,#runs_type {width:125px;}
#how_out {width:155px;}
#commentary_div {clear:both;float:left;}
.over_end{background-color:#FB8E64;float:left;padding:4px 2px 2px 1px;margin:5px 0px 5px 0px;width:100%;}
.ball_desc{float:left;}
.no_ball{color:#E59B1B;font-weight:bold;}
.four_six {color:#000099;font-weight:bold;}
.batsman_out{color:#ff0000;font-weight:bold;}
#error_input{color:#ff0000;float:left;font-size:14px;border:1px solid #ff0000;display:none;margin:4px;width:90%;}
#loading{float:left;display:none;font-weight:bold;color:#94BF1D}
.delete_row{color:#ff0000;}

/****************************************/
/* Phase 4 */
.carousel-inner .item a img{width:100% !important; height: 270px !important;}
