<dl class="add-converse-contact dropdown">
    <dt id="xmpp-contact-search" class="fancy-dropdown">
        <a class="toggle-xmpp-contact-form" href="#"
            title="{{label_click_to_chat}}">
        <span class="icon-plus"></span>{{label_add_contact}}</a>
    </dt>
    <dd class="search-xmpp" style="display:none"><ul></ul></dd>
</dl>
