<li>
    <form class="add-xmpp-contact">
        <input type="text"
            name="identifier"
            class="username"
            placeholder="{{label_contact_username}}"/>
        <button type="submit">{{label_add}}</button>
    </form>
</li>
