<form id="set-custom-xmpp-status">
    <input type="text" class="custom-xmpp-status" {{status_message}}
        placeholder="{{label_custom_status}}"/>
    <button type="submit">{{label_save}}</button>
</form>
