<!-- <div class="participants"> -->
<form class="room-invite">
    <input class="invited-contact" placeholder="{{label_invitation}}" type="text"/>
</form>
<label>{{label_occupants}}:</label>
<ul class="participant-list"></ul>
<!-- </div> -->
