<div class="xmpp-status">
    <a class="choose-xmpp-status {{chat_status}}"
       data-value="{{status_message}}"
       href="#" title="{{desc_change_status}}">

        <span class="icon-{{chat_status}}"></span>{{status_message}}
    </a>
    <a class="change-xmpp-status-message icon-pencil"
        href="#"
        title="{{desc_custom_status}}"></a>
</div>
