<div class="box-flyout" style="height: {{height}}px"
    {[ if (minimized) { ]} style="display:none" {[ } ]}>
    <div class="dragresize dragresize-tm"></div>
    <div class="chat-head chat-head-chatroom">
        <a class="close-chatbox-button icon-close"></a>
        <a class="toggle-chatbox-button icon-minus"></a>
        <a class="configure-chatroom-button icon-wrench" style="display:none"></a>
        <div class="chat-title"> {{ name }} </div>
        <p class="chatroom-topic"><p/>
    </div>
    <div class="chat-body"><span class="spinner centered"/></div>
</div>
