<div class="chatroom-form-container">
    <form class="chatroom-form">
        <legend>{{heading}}</legend>
        <label>{{label_password}}<input type="password" name="password"/></label>
        <input type="submit" value="{{label_submit}}"/>
    </form>
</div>
