<div class="box-flyout" style="height: {{height}}px">
    <div class="dragresize dragresize-tm"></div>
    <div class="chat-head chat-head-chatbox">
        <a class="close-chatbox-button icon-close"></a>
        <a class="toggle-chatbox-button icon-minus"></a>
        <div class="chat-title">
            {[ if (url) { ]}
                <a href="{{url}}" target="_blank" class="user">
            {[ } ]}
                    {{ fullname }}
            {[ if (url) { ]}
                </a>
            {[ } ]}
        </div>
        <p class="user-custom-message"><p/>
    </div>
    <div class="chat-body">
        <div class="chat-content"></div>
        <form class="sendXMPPMessage" action="" method="post">
            {[ if (show_toolbar) { ]}
                <ul class="chat-toolbar no-text-select"></ul>
            {[ } ]}
        <textarea
            type="text"
            class="chat-textarea"
            placeholder="{{label_personal_message}}"/>
        </form>
    </div>
</div>
