<div class="box-flyout" style="height: {{height}}px">
    <div class="dragresize dragresize-tm"></div>
    <div class="chat-head controlbox-head">
        <ul id="controlbox-tabs"></ul>
        <a class="close-chatbox-button icon-close"></a>
    </div>
    <div class="controlbox-panes"></div>
</div>
