<form class="set-xmpp-status" action="" method="post">
    <span id="xmpp-status-holder">
        <select id="select-xmpp-status" style="display:none">
            <option value="online">{{label_online}}</option>
            <option value="dnd">{{label_busy}}</option>
            <option value="away">{{label_away}}</option>
            <option value="offline">{{label_offline}}</option>
            {[ if (allow_logout)  { ]}
            <option value="logout">{{label_logout}}</option>
            {[ } ]}
        </select>
    </span>
</form>
