<form id="converse-login" method="post">
    <label>{{label_username}}</label>
    <input type="username" name="jid" placeholder="user@server">
    <label>{{label_password}}</label>
    <input type="password" name="password" placeholder="password">
    <input class="submit" type="submit" value="{{label_login}}">
    <span class="conn-feedback"></span>
</form>
