<form id="converse-register">
    <span class="reg-feedback"></span>
    <label>{{label_domain}}</label>
    <input type="text" name="domain" placeholder="{{domain_placeholder}}">
    <p class="form-help">{{help_providers}} <a href="{{href_providers}}" class="url" target="_blank">{{help_providers_link}}</a>.</p>
    <input class="submit" type="submit" value="{{label_register}}">
</form>
