<span class="req-contact-name">{{fullname}}</span>
<span class="request-actions">
    <a class="accept-xmpp-request icon-checkmark" title="{{desc_accept}}" href="#"></a>
    <a class="decline-xmpp-request icon-close" title="{{desc_decline}}" href="#"></a>
</span>
