<dd class="available-chatroom">
<a class="open-room" data-room-jid="{{jid}}"
   title="{{open_title}}" href="#">{{name}}</a>
<a class="room-info icon-room-info" data-room-jid="{{jid}}"
   title="{{info_title}}" href="#">&nbsp;</a>
</dd>
