<input style="display: none;" class="roster-filter" placeholder="{{placeholder}}">
<select style="display: none;" class="filter-type">
    <option value="contacts">{{label_contacts}}</option>
    <option value="groups">{{label_groups}}</option>
</select>
