<li>
    <form class="search-xmpp-contact">
        <input type="text"
            name="identifier"
            class="username"
            placeholder="{{label_contact_name}}"/>
        <button type="submit">{{label_search}}</button>
    </form>
</li>
