{[ if (show_emoticons)  { ]}
    <li class="toggle-smiley icon-happy" title="Insert a smilery">
        <ul>
            <li><a class="icon-smiley" href="#" data-emoticon=":)"></a></li>
            <li><a class="icon-wink" href="#" data-emoticon=";)"></a></li>
            <li><a class="icon-grin" href="#" data-emoticon=":D"></a></li>
            <li><a class="icon-tongue" href="#" data-emoticon=":P"></a></li>
            <li><a class="icon-cool" href="#" data-emoticon="8)"></a></li>
            <li><a class="icon-evil" href="#" data-emoticon=">:)"></a></li>
            <li><a class="icon-confused" href="#" data-emoticon=":S"></a></li>
            <li><a class="icon-wondering" href="#" data-emoticon=":\"></a></li>
            <li><a class="icon-angry" href="#" data-emoticon=">:("></a></li>
            <li><a class="icon-sad" href="#" data-emoticon=":("></a></li>
            <li><a class="icon-shocked" href="#" data-emoticon=":O"></a></li>
            <li><a class="icon-thumbs-up" href="#" data-emoticon="(^.^)b"></a></li>
            <li><a class="icon-heart" href="#" data-emoticon="<3"></a></li>
        </ul>
    </li>
{[ } ]}
{[ if (show_call_button)  { ]}
<li class="toggle-call"><a class="icon-phone" title="{{label_start_call}}"></a></li>
{[ } ]}
{[ if (show_participants_toggle)  { ]}
<li class="toggle-participants"><a class="icon-hide-users" title="{{label_hide_participants}}"></a></li>
{[ } ]}
{[ if (show_clear_button)  { ]}
<li class="toggle-clear"><a class="icon-remove" title="{{label_clear}}"></a></li>
{[ } ]}
{[ if (allow_otr)  { ]}
    <li class="toggle-otr {{otr_status_class}}" title="{{otr_tooltip}}">
        <span class="chat-toolbar-text">{{otr_translated_status}}</span>
        {[ if (otr_status == UNENCRYPTED) { ]}
            <span class="icon-unlocked"></span>
        {[ } ]}
        {[ if (otr_status == UNVERIFIED) { ]}
            <span class="icon-lock"></span>
        {[ } ]}
        {[ if (otr_status == VERIFIED) { ]}
            <span class="icon-lock"></span>
        {[ } ]}
        {[ if (otr_status == FINISHED) { ]}
            <span class="icon-unlocked"></span>
        {[ } ]}
        <ul>
            {[ if (otr_status == UNENCRYPTED) { ]}
               <li><a class="start-otr" href="#">{{label_start_encrypted_conversation}}</a></li>
            {[ } ]}
            {[ if (otr_status != UNENCRYPTED) { ]}
               <li><a class="start-otr" href="#">{{label_refresh_encrypted_conversation}}</a></li>
               <li><a class="end-otr" href="#">{{label_end_encrypted_conversation}}</a></li>
               <li><a class="auth-otr" data-scheme="smp" href="#">{{label_verify_with_smp}}</a></li>
            {[ } ]}
            {[ if (otr_status == UNVERIFIED) { ]}
               <li><a class="auth-otr" data-scheme="fingerprint" href="#">{{label_verify_with_fingerprints}}</a></li>
            {[ } ]}
            <li><a href="http://www.cypherpunks.ca/otr/help/3.2.0/levels.php" target="_blank">{{label_whats_this}}</a></li>
        </ul>
    </li>
{[ } ]}
