<a class="close-chatbox-button icon-close"></a>
<a class="chat-head-message-count" 
    {[ if (!num_unread) { ]} style="display: none" {[ } ]}
    href="#">{{num_unread}}</a>
<a href="#" class="restore-chat" title="{{tooltip}}">
    {{ title }}
</a>
