.debug{border:1px solid red;}
.left{float:left;}
.right{float:right;}
.tright{text-align: right;}
.tleft{text-align: left;}
.tcenter{text-align: center;}
.space10{height:10px;}
.hide{display:none;}
.title-case{text-transform: capitalize;}
.margin-top-5{margin-top:5px;}
.margin-top-10{margin-top:10px;}
.margin-top-50{margin-top:50px;}
.margin-10{margin:10px;}
.pointer{cursor: pointer;}
.max-width-grid-list{width:100%;}
.max-width-grid-list fieldset dd{width:660px;}
.max-width-grid-list fieldset dd .flag{float:right; position:relative; left:-170px;}
.max-width-grid-list fieldset dd .video{float:right;}
.no-shaddow{text-shadow: none;}
.border-1px{border:1px solid #ccc;}
.inline{display:inline;}
.topline{border-top:1px solid #999;}
.padding-top-10{padding-top:10px;}
.red{color:red;}
.middle{min-height: 500px;}

.form-box{width:48%; float: left; margin-bottom:10px;}
.form-box label{float: left; padding:5px 0 0 12px;}
.form-box input, .form-box select{float: right; margin-left:0px;}
.form-box #result{color:#cc0000; padding:10px 5px;}
.form-box .text{float: right; width:62%; padding:5px; margin-left: 0px; font-weight: bold;}
.form-box a{font-weight: bold;}
textarea, select {background:url('../images/input-text-bg.jpg') repeat-x bottom; width:265px; height:37px; padding:5px; font-size:15px; color:#c5c5c5; border:1px solid #dedede; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; margin-left:20px;}
textarea{width:80%; height: 70px;}
input[type=text], input[type=password], select, textarea{color:#515151;}

#success{ background:#e0fee1 url(../images/sucess-icon.png) no-repeat; border:1px solid #ccffce; border-radius:3px; height:48px; padding:0 0 0 50px; font-family:NotoSerif; font-size:12px; color:#565656; line-height:48px;}
#success span { font-weight:bold; font-size:14px; padding-right:15px; }

#error { background:#fee7e0 url(../images/error-icon.png) no-repeat; border:1px solid #ffd5c3; border-radius:3px; height:48px; padding:0 0 0 50px; font-family:NotoSerif; font-size:12px; color:#565656; line-height:48px; }
#error span { font-weight:bold; font-size:14px; padding-right:15px; }

#information{ background:#d1e4f3 url(../images/information-icon.png) no-repeat; border:1px solid #4d8fcb; border-radius:3px;height:48px; padding:0 0 0 50px; margin:5px 0px;  font-family:NotoSerif; font-size:12px; color:#565656; line-height:48px; }
#information span { font-weight:bold; font-size:14px; padding-right:15px; }

.progress-status-outer{height:30px;width:98%; border:1px solid #555; overflow:hidden;}
.progress-status{color:#fff; font-size:11px;text-align: left; display:block;height:20px; padding:5px 0; padding-left:5px;
	background: #a9e4f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}
.progress-info{ line-height:22px; float:left;}
a.submit-login{padding-top:5px;}

.community-box{width:29%; margin:5px; padding:10px; border:1px solid #ccc; float:left; min-height: 229px; position:relative;}
.community-box:hover{border:1px solid #cc0000; cursor: pointer;}
.community-box img{margin-left:55px; border-radius:10px; width:160px; height:180px; position:absolute; bottom: 20px;}
.community-box h2{text-align: center;}

.testi-box{position: relative; line-height: 25px;}
.testi-box .stars{position:absolute;  right:0px; top:0px;}

.list{}
.list ul{}
.list ul li{clear:both; display:table; border-bottom:1px solid #E0E0E0; padding:10px; }
.list ul li:last-child{border-bottom:none!important;}
.list img{float:left;}
.list-text{float:left; margin:0px 15px; width:500px; }
.list-text h3{cursor: pointer;}
.list-social{float:left; width:140px; height:44px; font-size:12px; color:#515151; text-align:right!important; border-left:1px solid #ccc; height:110px; padding-left:5px;}

#pagination-top{border-bottom:1px solid orange;  padding-bottom:5px;}
#pagination-bottom{border-top: 1px solid orange; padding-top:5px;}

#pagination-top form, #pagination-bottom form{position:relative !important;}
#pagination-top .pagin, #pagination-bottom .pagin{float: left;}
#pagination-top form, #pagination-bottom form{float: right;}
#pagination-top input[type=text]{width:150px; position: relative;right:0px;}
#pagination-top input[type=submit], #pagination-bottom input[type=submit]{border:0px; width:25px;height:26px;background:url('../images/search-icon.png') no-repeat; position:absolute; right:2px; top:3px; cursor: pointer;}
#add{position:relative; top:-40px;right:160px;}

.pagin{ 
	margin: 7px 0;
    overflow: hidden;    
}

.pagin form{float:right;}

.pagin span{
	background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid #b3b3b3; 
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:0.5;
}
.pagin span:hover{}
.pagin a{
	background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid #b3b3b3; 
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:1;
}
.pagin a:hover{	background: url("../images/pagination-bg-hover.png") repeat-x; border:1px solid #66676a;}
span.current{
	background: none;
    border: 0px solid #b3b3b3; 
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:1;
}
span.current:hover{	background: none;}

.categories{border:1px solid #ccc; border-radius:5px; padding:5px; margin-bottom:10px;}
.categories ul{list-style:square; margin-left:20px;}
.categories li{line-height: 25px;}

.detail{line-height: 25px;}
.detail p{text-align: justify;}
.detail p img{float: left; margin: 10px;}
.details{position:relative;}
.details p{font-size:13px; line-height: 20px; }
.details a{position: absolute; left:100px; bottom:-8px;}

#login-box {margin-bottom: 10px;}
.popup{position:absolute; margin:auto; border:1px solid #ccc; border-radius:5px; padding:10px; background:#fff; width:400px; left:200px; box-shadow: 1px 1px 20px #515151;}
.close-popup{float:right; cursor: pointer;}

.popup .form-box select, .popup .form-box input{float:left; margin:5px 10px;}

#recaptcha_widget_div{margin-left:20px;}

.navigation{background:#efefef; height:30px; border-radius:3px;}
.navigation li{float:left; text-align: center; padding:5px; width:31%; border:1px solid #ccc;}
.navigation li:hover{background:#cc0000; color:#efefef;}
.navigation li:hover a{color:#efefef;}
.navigation li.selected{background:orange; color:#fff;}

#messages.navigation li{width:23%;}

#twitter{width:245px !important;}

.bottom{margin-top:20px; height:225px;}
.bottom ul{}
.bottom ul li{float:left; box-shadow:0px 2px 2px #999; margin:4px; min-height: 225px;}

.nav ul li a{padding:0 9px !important;}
.nav ul li{position: relative;}
.nav ul li ul.sub{ display: none;}
.nav ul li:hover ul.sub{display: block; position: absolute; z-index: 9999; background: orange; padding:4px; box-shadow: 3px 3px 9px #ccc;}
.nav ul li:hover ul.sub li{background: none !important;}
.nav ul li:hover ul.sub li a:hover{background: none !important;}

#confirm-password-result,#password-result{background: red; width:200px; height:20px; margin:5px; color:#fff; text-align: center; padding-top:2px;}

#recaptcha_privacy{display:none;}


.small-column{float:left; width:190px;}
.large-column{float:left; width:610px; margin-left:20px;}
.white-box{background:url('../images/box-bg.jpg') repeat-x bottom left #FFFFFF; padding:5px; border:1px solid #e0e0e0;  -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; -khtml-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; box-shadow:0px 3px 0px #808080;}
.black-box{}
    .black-box ul{padding:0px; margin:0px;}
    .black-box ul li{margin:10px 0px; padding:0px; display:block;}
    .black-box ul li a{background:url('../images/dashboard-bullet.png') no-repeat scroll 0px 3px; padding-left:15px; color:#101010; line-height:18px; font-size:14px;}
    .black-box ul li a:hover{color: #fb8300;}
.orange-box{min-height:252px;}
    .orange-box ul{padding:0px; margin:0px;}
    .orange-box ul li{margin:10px 0px; padding:0px; display:block;}
    .orange-box ul li a{background:url('../images/dashboard-bullet.png') no-repeat scroll 0px 3px; padding-left:15px; color:#101010; line-height:18px; font-size:14px;}
    .orange-box ul li a:hover{color: #fb8300;}
#inbox tr{cursor: pointer;}
    #inbox tr.selected{background:#515151; color:#fff;}
    #inbox td{padding:3px;}
.black-heading{background:url('../images/tab-bg.jpg') repeat-x; width:97%; border: 1px solid #000; text-decoration: none; font-family: 'Roboto Condensed', sans-serif; font-size:16px; color: #fb8300; font-weight: bold; line-height:30px; padding-left:5px;}
.orange-heading{background:url('../images/tab-selected-bg.jpg') repeat-x; width:99%; border: 1px solid #fb8300; text-decoration: none; font-family: 'Roboto Condensed', sans-serif; font-size:16px; color: #000; font-weight: bold; line-height:30px; padding-left:5px;}

img.add-record{margin:8px; cursor: pointer;}

.addthis_toolbox{margin-top:3px;}

#individual .list-text{width:490px; height:140px;}
#individual .list-social .flag{margin:0px 7px;}

iframe.twitter-timeline{height:205px;}

#dashboard .black-box h2{cursor: pointer;}
#dashboard.content{width:100%;}
#dashboard .large-column{width:79%;}
.flag{height:27px;}
.flag img{border:1px solid #ccc;}

iframe{overflow: hidden;}
iframe #lsTabBar, #ciHomeQL{display:none;}

.menu2 li a{width:24.5%;}

#breadcrumbs{border-bottom:1px solid #ccc; padding:4px; line-height: 18px; height:20px;}
#breadcrumbs span{color:#666; background: url("../images/bread-crum-arrow.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0); margin:0px 5px; padding-right: 12px;}
#breadcrumbs a {color:#515151;}

.profile-contact a{padding:5px;}

#activity dt{width:25%; text-align:left;}
#activity dd{width:71%;}

#register.popup {width:560px;}
#register.popup a{float:left; margin:10px;}

#invite.popup{width:650px;}

legend {
    font-size:18px;
    margin:0px;
    padding:10px 0px;
    color:#2a8bbe;
    font-weight:bold;
}
.prev, .next {
    background-color:#2247B1;
    padding:5px 10px;
    color:#fff;
    text-decoration:none;
}
.prev:hover, .next:hover {
    background-color:#000;
    text-decoration:none;
}
.prev {
    float:left;
}
.next {
    float:right;
}
#steps {
    list-style:none;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#steps li {
    font-size:18px;
    float:left;
    padding:5px;
    width:65px;
    text-align:center;
    color:#b0b1b3;
    cursor: pointer;
}
#steps li span {
    font-size:11px;
    display:block;
}
#steps li.current {
    color:#000;
}

.prev{position:relative; left:2px;}
.next{position:relative; right:25px;}

form fieldset{border:1px solid #ccc; padding:2px;}