@charset "utf-8";
/* CSS Document */
*{    -webkit-transition: all 0.3s ease-in;
		 -moz-transition: all 0.3s ease-in;
		   -o-transition: all 0.3s ease-in;
		      transition: all 0.3s ease-in;
}

* { margin:0px; padding:0px; font-family:Arial; font-size:13px; }
a { color:#555553; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
.fl { float:left; }
.fr { float:right; }
.clear { clear:both; }
.debug { border:1px solid red; }
/****************************************************************************/
/*********************************************************************************************************************************/
	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee;
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	 	  color: #444;
	  display: inline-block;
	  text-decoration: none;
	  cursor: pointer;
	  line-height: normal;
	  font-family: NotoSerif; }

	/*.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd;
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%);
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3)));
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }*/

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

/*#back a{
	background: #eee;
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2)));
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: NotoSerif; }*/
#back a {
background: #efefef;
background: -moz-linear-gradient(top, #efefef 0%, #dbdbdb 100%, #00bafb 100%, #2989d8 100%);
background: -webkit-linear-gradient(top, #efefef 0%,#dbdbdb 100%,#00bafb 100%,#2989d8 100%);
background: linear-gradient(to bottom, #efefef 0%,#dbdbdb 100%,#00bafb 100%,#2989d8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#2989d8',GradientType=0 );
    color: #cc0000;
    border: 1px solid #aaa;font-family: NotoSerif;
    padding: 5px 11px; min-width:120px; display:inline-block;
    border-radius: 4px; text-align:center;
    text-decoration: none;
}
#back a:hover{
background: #2989d8;
background: -moz-linear-gradient(top, #2989d8 0%, #00bafb 0%, #dbdbdb 0%, #efefef 100%);
background: -webkit-linear-gradient(top, #2989d8 0%,#00bafb 0%,#dbdbdb 0%,#efefef 100%);
background: linear-gradient(to bottom, #2989d8 0%,#00bafb 0%,#dbdbdb 0%,#efefef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#efefef',GradientType=0 );}

 /*****************************************************************************************/
h1 { color:#222222; font-size:16px; font-weight:bold; line-height:45px; padding:0 0 15px 0; }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }
.font10 { font-size:10px; }
.font11 { font-size:11px; }
.font12 { font-size:12px; }
.font13 { font-size:13px; }
.font14 { font-size:14px; }
.font15 { font-size:15px; }
.font16 { font-size:16px; }
.font17 { font-size:17px; }
.font18 { font-size:18px; }
.font19 { font-size:19px; }
.font20 { font-size:20px; }
.font21 { font-size:21px; }
.font22 { font-size:22px; }
.grey { color:#89878a; }
.grey2 { color:#535554; }
.dark-grey { color:#a5a5a5; }
.light-grey { color:#cccccb; }
.white { color:#fff; }
.black { color:#222222; }
.green { color:#58a000; }

.red{color:#e90000; font-weight:bold; }
.black{color:#0b0c0c;}
.arial14black{ color:#000; font-size:14px;}
.arial14blue{ color:#1d7493; font-size:12px;}
.arial18black{ font-size:18px; color:#333333;}
.arial12grey{color:#8b8b8b; font-size:12px;}
.tahoma14grey{ color:#666666; font-size:14px;}
.arial14green{color:#358530; font-size:14px; line-height:22px;}

/***************************************************************************/
.btn1, .btn2, input[type="submit"]
{
background: #00bcfd; border:1px solid #00bcfd !important;
background: -moz-linear-gradient(top, #00bcfd 0%, #2989d8 100%, #207cca 100%, #047ad3 100%);
background: -webkit-linear-gradient(top, #00bcfd 0%,#2989d8 100%,#207cca 100%,#047ad3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcfd', endColorstr='#047ad3',GradientType=0 );
font-family: NotoSerif;color:#fff;border-radius:4px;padding:7px 11px;min-width:120px;text-align:center;display: inline-block;}
.btn1:hover{
background: #047ad3;background: -moz-linear-gradient(top, #047ad3 0%, #00bafb 100%, #2989d8 100%, #207cca 100%);
background: -webkit-linear-gradient(top, #047ad3 0%,#00bafb 100%,#2989d8 100%,#207cca 100%);
background: linear-gradient(to bottom, #047ad3 0%,#00bafb 100%,#2989d8 100%,#207cca 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#047ad3', endColorstr='#207cca',GradientType=0 ); text-decoration:none;

}
/*.btn1 { background:url(../images/btn1.png) no-repeat !important;
width:114px !important;
height:27px !important;
border:none !important;
display:block !important;
text-align:center !important;
text-decoration:none !important;
font-size:12px !important;
font-family:NotoSerif !important;
color:#FFF !important;
line-height:26px !important;
cursor:pointer !important;
text-shadow:none !important;}
*/
/*.btn1:hover { background-position:0 -29px !important; text-decoration:none !important; }*/
.btn2
{
background: #fe4000;
background: -moz-linear-gradient(top, #fe4000 0%, #de0200 100%, #2989d8 100%, #207cca 100%);
background: -webkit-linear-gradient(top, #fe4000 0%,#de0200 100%,#2989d8 100%,#207cca 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe4000', endColorstr='#207cca',GradientType=0 );
}
.btn2:hover
{
background: #207cca;background: -moz-linear-gradient(top, #207cca 0%, #2989d8 0%, #de0200 0%, #fe4000 100%);
background: -webkit-linear-gradient(top, #207cca 0%,#2989d8 0%,#de0200 0%,#fe4000 100%);
background: linear-gradient(to bottom, #207cca 0%,#2989d8 0%,#de0200 0%,#fe4000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#fe4000',GradientType=0 ); text-decoration:none;
}
/*.btn2 { background:url(../images/btn2.png) no-repeat !important;
 width:114px !important;
 height:27px !important;
 display:block !important;
 text-align:center !important;
 text-decoration:none !important;
 font-size:12px !important;
 font-family:NotoSerif;
 color:#FFF !important;
 line-height:26px !important;
 cursor:pointer !important;
 border:0px solid !important;
 text-shadow:none !important; }*/
/*.btn2:hover { background-position:0 -29px !important; text-decoration:none !important; }*/

.txt-feild-small { border:1px solid #cccccc; border-radius: 4px 4px 4px 4px; width:150px; padding:0 0 0 6px; color:#89878a; font-size:11px; height:30px; line-height:30px; }
.txt-feild-medium { border:1px solid #cccccc; border-radius: 4px 4px 4px 4px; width:398px; padding:0 0 0 6px; color:#89878a; font-size:11px; height:30px; line-height:30px; }
.txt-feild-large { border:1px solid #cccccc; border-radius: 4px 4px 4px 4px; width:100%; padding:0 0 0 6px; color:#89878a; font-size:11px; height:30px; line-height:30px; }
.dd1 { border:1px solid #cccccc; border-radius: 4px 4px 4px 4px; width:200px; padding:5px; color:#89878a; font-size:11px; height:30px; line-height:30px; }
.red-border { border-color:#eb5439 !important; color:#F33 !important; }

/***************************************************************************/

.admin-wrapper { width:663px; margin:auto; }
.admin-logo { background:url(../../images/logo.png) repeat-x; height:182px; padding:45px 0 0 0; margin:auto; }
.admin-page { margin:auto; padding-top:10px 0 0 0; text-align:center; }
.left-menu { padding:15px 0 0 0; float:left; width:231px; height:100%; }
.logo { text-align:center; margin:0px; }
.logo a { margin:0px;font-size:20px;}
.msg1 { color:#89878a; padding:0 0 0 28px; margin:0 0 20px 0; }
/***************nav 1st level*************************/

	.nav { float:right; text-align:right; margin:0 1px 0 0; }
.nav ul { background:#e9292f; }
.nav li { list-style:none; display:block; }
.nav a { display:block; background:url(../images/menu-bg.png) no-repeat right; background-position:0px 0px; width:188px; height:33px; margin:6px 0 6px 0; padding:0 18px 0 0; font-size:13px; font-family:NotoSerif; font-weight:bold; color:#fff; line-height:33px; }
.nav a:hover { background-position: 0 -33px; color:#333333; text-decoration:none; }
a.selected { background-position: 0 -33px; color:#333333; text-decoration:none; }
/***********nav 2nd level*******************/

.nav li ul { }
.nav li li { }
.nav li li a { background:none; color:#a5a5a5; }
.nav li li a:hover { background:url(../images/menu-bg-level2.png) no-repeat right; color:#fafafa; }
a.selected2 { background:url(../images/menu-bg-level2.png) no-repeat right !important; color:#fafafa !important; }
.page { float:left; padding:0px 0px 0 6px; background:url(../images/page-bg.png) repeat-y; width:745px; }
.msg2 { font-size:27px; font-weight:bold; color:#222222; margin:10px 0; }
.msg3 { font-size:16px; color:#535554; margin:10px 0; }
.page-nav { margin:0px 0 10px 0; }
.page-nav ul { }
.page-nav li { list-style:none; float:left; }
.page-nav a { display:block; background:#f7f7f7; border:1px solid #cccccc; border-radius: 4px 4px 4px 4px; margin:10px 15px 0 0; width:122px; height:22px; font-size:13px; color:545653; line-height:22px; text-align:center; }
.page-nav a:hover { text-decoration:none; background: #f7f7f7; /* for non-css3 browsers */  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7)); /* for webkit browsers */ background: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); /* for firefox 3.6+ */ }
.box1 {
    border: 1px solid #cccccc;
    border-radius: 4px 4px 0px 0px;
    background: #fff url(../images/table-top-bg.png) repeat-x;
    padding: 0 0 20px 0;
    margin: 10px 0;
    float: left;
    width: 100%;
}
.box2 { border:1px solid #cccccc; border-radius: 4px 4px 4px 4px; background:#fff url(../images/table-top-bg.png) repeat-x; padding:0 20px 20px 20px; width:390px; margin:10px 0; }
.box2 p { color:#535554; font-size:12px; text-align:justify; line-height:18px; }
.grid { color:#555553; width:100%; clear:both;}
.grid th { font-size:15px; height:40px; text-align:left; vertical-align:top; padding:10px 0 0 0; }
.grid td { font-size:13px; height:27px; text-align:left; vertical-align:middle; padding:2px; }
.list-style-1 { font-size: 14px; font-weight: bold; color:#565656; }
.list-style-1 ul { }
.list-style-1 li { line-height:20px; margin-left:25px; }
.list-style-1 a { }
.list-style-1 a:hover { }
.list-style-2 { font-size: 14px; font-weight: bold; color:#565656; }
.list-style-2 ul { }
.list-style-2 li { float:left; list-style:none; }
.list-style-2 a { }
.list-style-2 a:hover { }
.list-style-2 img { margin:10px; padding:3px; border:1px solid #cccccc; width:125px; height:95px; overflow:hidden; }
.footer { color:#231f20; font-size:11px; border-top:1px solid #cccccc; padding:10px 0 10px 0; margin:0px 0 0 0; }
/***********************************************************************/

#options { height:25px; margin-bottom:15px; padding:0 5px; width:100%; }
#options #box { width:300px; float:left; }
#options #box.text { float:right; text-align:right; }
#options #box a.btn2 { float:left; margin:0 0 0 10px; }
table#detail tr { height:30px; }
table#detail td { font-size:12px ; }
table#detail td td { padding-left:5px; }
ul#countries { list-style:none; }
ul#countries li { float:left; width:250px; }
#back {
    float: right;
    font-weight: bold;
    padding-bottom: 15px;
    width: 98%;
    text-align: right;
    padding: 0 1%;
}
#back a { color:#cc0000;}


/*********************messages**************************************************/

#success{ background:#e0fee1 url(../images/sucess-icon.png) no-repeat; border:1px solid #ccffce; border-radius:3px; height:48px; padding:0 0 0 50px; font-family:NotoSerif; font-size:12px; color:#565656; line-height:48px;}
#success span { font-weight:bold; font-size:14px; padding-right:15px; }

#error { background:#fee7e0 url(../images/error-icon.png) no-repeat; border:1px solid #ffd5c3; border-radius:3px; height:48px; padding:0 0 0 50px; font-family:NotoSerif; font-size:12px; color:#565656; line-height:48px; }
#error span { font-weight:bold; font-size:14px; padding-right:15px; }

#warning {background:#ffe9ad url(../images/warning-icon.png) no-repeat; border:1px solid #ffbf32; border-radius:3px; height:48px; padding:0 0 0 50px; margin:5px 0px; font-family:NotoSerif; font-size:12px; color:#565656; line-height:48px; }
#warning span { font-weight:bold; font-size:14px; padding-right:15px; }

#information{ background:#d1e4f3 url(../images/information-icon.png) no-repeat; border:1px solid #4d8fcb; border-radius:3px;height:48px; padding:0 0 0 50px; margin:5px 0px;  font-family:NotoSerif; font-size:12px; color:#565656; line-height:48px; }
#information span { font-weight:bold; font-size:14px; padding-right:15px; }


.col1 { width:200px; padding-top:10px; }
.col1, .col2 { float:left; margin:2px; }
.col3 { width:75px; text-align:right; padding-top:10px; }
.col3, .col2 { float:left; margin:2px; }
.add-btn { float:right; margin-bottom:10px; }
body { background: none repeat scroll 0 0 #231f20;  color: #65667A; font-family: NotoSerif; font-size: 14px; }
.menu2{ background:#666; height:34px; line-height:34px; z-index:100; position:relative;}
.menu2 ul{ margin-left:25px; padding-left:2px; margin-right:0px; }
.menu2 li{padding: 0 2px 0 0; float:left; list-style:none;}
.menu2 li.logout{padding: 0 2px 0 0; float:right;}
.menu2 a{ text-transform:capitalize; padding:0 17px; color:#fff; display:block; }
.menu2 a:hover{ text-decoration:none;color:#fff;}
.menu2 li:hover a{ text-decoration:none;color:#fff;}

.menu2 a.selected{text-decoration:none;color:#fff;}

.menu2 ul ul {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    box-shadow: 0 8px 10px #999999;
    display: none;
    height:auto;
    margin: 0;
    padding: 0;
    position: absolute;}
.menu2 li:hover ul{ display:block;}
.menu2 ul ul li{ border-bottom:1px solid #999;float:none; height:22px; padding:2px !important; width:250px;background: #666;}
.menu2 ul ul li:hover{background: #000;}
.menu2 ul ul li:hover a{color: #fff;}
.menu2 ul ul li a{ color:#fff;}
.menu2 ul ul li a:hover{ text-decoration:none; color:#fff;}
.menu2 ul ul li a.selected{color:#fff;}

.menu2 ul ul ul {}
.menu2 li:hover ul ul{ display: none; left: 252px;  position: absolute;   top: -1px;}
.menu2 li:hover ul li:hover ul{ display:block; position:relative; margin-top:-33px; height:32px; }
.menu2 ul ul li:hover { text-decoration:none; }


.page-wrapper { background:#E8E8E8; padding: 15px 10px 45px; }
.box5 { background: none repeat scroll 0 0 #FFFFFF; border-radius: 3px;  padding: 10px 10px 30px; min-height:440px; _height:450px; }
.footer { background: none repeat scroll 0 0 #F9F9F9; border-bottom: 2px solid #FE9900; color: #cc0000; font-family: Tahoma, Geneva, sans-serif; font-size: 11px; height:20px; text-align: center; }
.footer a { color: #333333; font-family: Tahoma, Geneva, sans-serif;line-height: 25px;font-size: 12px; }
.footer a:hover{font-weight:bold;}
.grid th {
    background: url(../images/box4-bg.png) repeat-x scroll 0 0 transparent;
    height: 40px;
    line-height: 18px;
    padding-left:4px;
    text-align: left;
    background-size: 100% 100%;
}
.pagin{
	float: right;
    margin: 7px 0;
    overflow: hidden;
    width:350px;
}
.pagin select{
	padding: 4px !important;
}
.pagin span{
	background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid #b3b3b3;
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:0.5;
}
.pagin span:hover{}
.pagin a{
	background: url("../images/pagination-bg.png") repeat-x;
    border: 1px solid #b3b3b3;
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:1;
}
.pagin a:hover{	background: url("../images/pagination-bg-hover.png") repeat-x; border:1px solid #66676a;}
span.current{
	background: none;
    border: 0px solid #b3b3b3;
    color: #000000;
    display: block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    margin: 0 2px;
    text-align: center;
    padding:0 5px 0 5px;
	opacity:1;
}
span.current:hover{	background: none;}

label.error {color:red; padding-left:3px; font-family:verdana; font-size:12px;}
select.error, textarea.error, input.error { border:1px solid red !important; }

.loadmore{display:inline-block;height: 2.78em;line-height: 2.8em;text-decoration: none;color: #555555;background-color: #E0E0E0;border-color: #CCCCCC #CCCCCC #AAAAAA;border-width:1px;border-style:solid;box-shadow: 0 0 1px #FFFFFF inset;text-shadow: 0 1px 0 #FFFFFF;border-radius: 2px 2px 2px 2px;cursor: pointer;font-size: 11px;font-weight: bold;outline: 0 none;padding: 0 20em;vertical-align: middle;white-space: nowrap;word-wrap: normal;
 margin:5px auto;
background:#FAFAFA;
background:-moz-linear-gradient(top, #FAFAFA 0%, #DCDCDC 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #DCDCDC));
background:-webkit-linear-gradient(top, #FAFAFA 0%, #DCDCDC 100%);
background:-o-linear-gradient(top, #FAFAFA 0%, #DCDCDC 100%);
background:-ms-linear-gradient(top, #FAFAFA 0%, #DCDCDC 100%);
background:linear-gradient(top, #FAFAFA 0%, #DCDCDC 100%);
filter:progid:DXimagesTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#DCDCDC', GradientType=0);
}
.loadmore:hover {display:inline-block;background:#C8C8C8;background:-moz-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF;height: 2.78em;line-height: 2.8em;	text-decoration: none;color:#000000;background-color: #E0E0E0;border-color: #888888 #AAAAAA #CCCCCC;border-width:1px;border-style:solid;text-shadow: 0 1px 0 #FFFFFF;border-radius: 2px 2px 2px 2px;cursor: pointer;font-size:11px;font-weight: bold;outline: 0 none;padding: 0 21em;vertical-align: middle;white-space: nowrap;word-wrap: normal;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #C8C8C8), color-stop(100%, #E6E6E6));
	background:-webkit-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
	background:-o-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
	background:-ms-linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
	background:linear-gradient(top, #C8C8C8 0%, #E6E6E6 100%);
filter:progid:DXimagesTransform.Microsoft.gradient(startColorstr='#C8C8C8', endColorstr='#E6E6E6', GradientType=0);
}
img#loading{display:none;}


/*******************************************************************************/
.box7{ border:1px solid #c5c5c5; background:#fff; padding:0px; border-radius:5px; width:100%; margin-bottom:10px; padding-bottom:15px;}
.box7 .heading{ color:#000; font-size:13px; text-shadow: 0px -1px 1px #fff; background:url(../images/box7-bg.png) repeat-x; height:26px;  border-radius: 5px 5px 0px 0px; padding:0 7px; line-height:26px; margin-bottom:5px; }
.box7 .heading2{ color:#5d5d5d; margin:0 7px 0 7px; border-bottom:1px solid #e6e6e6; line-height:26px;}
.box5a { background: none repeat scroll 0 0 #FFFFFF; border-radius: 3px; padding:10px 10px; min-height:440px; _height:450px; }
hr{ border:0px;  border-top:1px solid #e4e4e4; }

.table-1{}
.table-1 th{ background:url(../images/box4-bg.png) repeat-x; height:36px; line-height:36px; text-align:left; padding-left:10px;}
.table-1 tr{}
.table-1 tr:hover{background:#f2f2f2;}
.table-1 td{padding:10px; text-align:left;}
.table-a td:hover{ }

.box8{ border:1px solid #c9c9c9; padding:10px; margin:10px 0px; color:#3f4443; }
.box8 h3{ font-weight:bold; font-size:14px; color:#434955; line-height:22px; padding-bottom:15px;}

.table-2{ }
.table-2 th{ text-align:left;}
.table-2 tr{}
.table-2 tr:hover{background:#f2f2f2;}
.table-2 td{font-size:12px; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; text-align:left; border-bottom:1px solid #dddddd;}
.table-a td:hover{ }
.table-2 td a{ font-size:13px; color:#1d7493; }



/*******************************/
.header{ border-bottom:1px solid #dadada;
background: #efefef; /* Old browsers */
}
.header-wrapper{padding:8px 0 8px 0;}
.header .col1{ float:none; width:auto; padding:0px;}
.header .col1 .logo{ float:left; margin-bottom:10px;padding:5px;}
.header .col1 .logo img{}
.user-info{ float:right; padding-top:25px; padding-right:10px;}
.user-info a{ font-size:12px; color: #515151; font-family:Arial, Helvetica, sans-serif;  }
.user-info span{ font-size:12px; color: #727272; font-family:Arial, Helvetica, sans-serif;   padding: 0 7px 0 7px;}

table.detail{ width:100%;}
.detail{}
.detail th {background: url("../images/box4-bg.png") repeat-x scroll 0 0 transparent;height: 36px;padding-left: 10px;text-align: left;}
.detail tr.class1 td{background:#fff }
.detail tr.class2 td{background:#FFE8E8;}
.detail tr.class3 td{background:#EBEBEB;}
.detail tr.class4 td{background:#FFFFBB;}
.detail tr.class5 td{background:#F2FDF4;}

.detail tr td{padding-left:7px;}
.detail tr:hover td{background:#c1c1c1;}

select>option{padding:2px;}

.left {float:left;}
.right {float:right;}
.tleft{text-align: left;}
.tright{text-align: right;}
.displaynone{display: none;}
#add{float:right; position: relative; top: -10px;}
#multiple td:first-child {
    min-width: 72px;
}
#multiple input[type="submit"] {
    margin-top: 0;
}
form#user_permissions {
    max-width: 1600px;
    width: 100%;
    overflow-x: auto;
}
.box1 h1 {
    padding: 0 10px;
}
