html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}

body{line-height:1}

ol,ul{list-style:none}

blockquote,q{quotes:none}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}

:focus{outline:0}
a:focus{outline:0}

textarea {resize: none;}

ins{text-decoration:none}

del{text-decoration:line-through}

table{border-collapse:collapse;border-spacing:0}

a{ text-decoration:none; }

a>i{ font-size:16px !important; margin:0 3px; }


body{font-family:Arial, Helvetica, sans-serif; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; font-size:14px; color:#282828; line-height:18px; background:#f2f2f2 url('../img/body-bg111.jpg') repeat top left;/* padding:150px 0 160px;*/}

p{margin:10px 0px;}
.link{color:#fb8300;}
.orange{color:#fb8300;}
	h1 {color: #fb8300; font-size: 36px; margin: 15px 0; font-weight:bold; text-shadow: 0px 2px 1px #c9c9c9; text-transform: capitalize;}
		h1 span{font-size:14px; font-weight:normal; color:#333; line-height:12px; text-shadow:none;}
	h2 {color: #096DA9; font-family: 'Roboto Condensed',sans-serif; font-size: 30px; font-weight: bold; margin: 10px 0 15px;}
	h3{font-family: 'Roboto Condensed', sans-serif; font-size:24px; font-weight:bold; color:#fb8300; margin:0 0 15px;}
	h3 span.datetime{font-size:16px; font-weight:normal; color:#666;}
	h4{font-size:22px; font-weight:normal; color:#fff; border-bottom:1px solid #FFF; padding-bottom:5px;}
	h5{font-family: 'Roboto Condensed', sans-serif; font-size:20px; color:#010103; font-weight:normal; margin: 5px 0px;}
	h6{font-size:20px; color:#b0cdf0; font-weight:normal;}

.clear{clear:both;}
.debug{border:1px solid red;}
.margin-top-10{margin-top:10px;}
.margin-bottom-10{margin-bottom:10px;}

.img-tour{display:block; border:1px solid #999; -moz-border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:10px; margin:15px auto; max-width:100%; height:auto;}

label.title{display:block; font-family: 'Roboto Condensed', sans-serif; font-size:16px; font-weight:normal; text-align:left; color:#010103; margin: 0 0 5px;}

.btn.full{width:100%;}
.btn.orange{color:#000; border-color:#ff7b01; background: #ffad0d; background: -moz-linear-gradient(top,  #ffad0d 0%, #ff7b01 100%);
background: -webkit-linear-gradient(top,  #ffad0d 0%,#ff7b01 100%);
background: linear-gradient(to bottom,  #ffad0d 0%,#ff7b01 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffad0d', endColorstr='#ff7b01',GradientType=0 );}

.btn.blue{color:#FFF; border-color:#29448c; background: #1743ac;
background: -moz-linear-gradient(top,  #1743ac 0%, #29448c 100%);
background: -webkit-linear-gradient(top,  #1743ac 0%,#29448c 100%);
background: linear-gradient(to bottom,  #1743ac 0%,#29448c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1743ac', endColorstr='#29448c',GradientType=0 );}

.hvr-float-shadow {backface-visibility: hidden; box-shadow: 0 0 1px rgba(0, 0, 0, 0); display: inline-block; position: relative; transform: translateZ(0px); transition-duration: 0.3s; transition-property: transform; vertical-align: middle;}
.hvr-float-shadow::before {background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0; content: ""; height: 10px; left: 5%; opacity: 0; pointer-events: none; position: absolute; top: 100%; transition-duration: 0.3s; transition-property: transform, opacity; width: 90%; z-index: -1;}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {transform: translateY(-5px);}
.hvr-float-shadow:hover::before, .hvr-float-shadow:focus::before, .hvr-float-shadow:active::before {opacity: 1; transform: translateY(5px);}

.form-group{margin-right: -15px; margin-left: -15px;}
	.form-group:before{display: table; content: " ";}
	.form-group:after{clear: both; content: " ";}

.navbar-inverse {border:none; box-shadow:0 2px 4px rgba(0,0,0,0.26); height:150px; background: #dedede; background: -moz-linear-gradient(top,  #dedede 0%, #ffffff 100%); background: -webkit-linear-gradient(top,  #dedede 0%,#ffffff 100%); background: linear-gradient(to bottom,  #dedede 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff',GradientType=0 );}

.navbar-header{height:150px;}
	.navbar-brand {max-width:100%; height:auto;}
	.navbar-header p {font-size: 12px; line-height:14px; text-align: center; margin:0; position: absolute; left: 130px; top: 58px; width: 180px;}

.navbar-collapse {float: right; width: 69%;}
.header-top{margin-top:15px;}
.signup-buttons{margin-top:5px;}
	.signup-buttons .col-xs-12{margin-bottom:6px;}
	.signup-buttons .col-xs-12:last-child{margin-bottom:0px;}
	.header-top a{font-size:15px; line-height:35px;}
	h3.header-welcome{font-family: 'Roboto Condensed', sans-serif; font-size:20px; font-weight:normal; color:#fb8300; margin:8px 0 0;}
		h3.header-welcome span{color:#333;}
	#frm-search {margin-bottom:10px;}
	#frm-search .form-control{border: 1px solid black; height: 35px; border-radius:0; background: #ebebeb; background: -moz-linear-gradient(top,  #ebebeb 0%, #ffffff 80%); background: -webkit-linear-gradient(top,  #ebebeb 0%,#ffffff 80%); background: linear-gradient(to bottom,  #ebebeb 0%,#ffffff 80%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 );}
	#frm-search .input-group-addon {border: 1px solid #000; border-radius: 0px; box-shadow:0 0 8px #000 inset; font-size: 20px; padding:6px; background: #424344; background: -moz-radial-gradient(center, ellipse cover,  #424344 0%, #191818 100%); background: -webkit-radial-gradient(center, ellipse cover,  #424344 0%,#191818 100%); background: radial-gradient(ellipse at center,  #424344 0%,#191818 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424344', endColorstr='#191818',GradientType=1 );}
	#frm-search button {background:none; border:none; color:#eee}
		#frm-search button:hover {color:#FFF}
	ul.social li{margin:0px 4px; float:right}

.navbar-nav{width:100%; margin:10px 0 0; padding:1px; border:1px solid #000; box-shadow:0 0 2px rgba(255,255,255,0.8) inset; background: #0d0d0d;}
    .navbar-nav > li {display:block; float:left; width:50%;}
	.navbar-nav > li:nth-child(odd) {background:url('../img/nav_sep.png') no-repeat top right;}
	/*.navbar-nav > li:last-child {background:none;}*/
	.navbar-nav > li > a {font-family: 'Roboto Condensed', sans-serif; font-size:15px; line-height:34px; color:#FFF; padding:0 11px;}
		.navbar-nav > li > a:hover, .navbar-nav > li.active > a {background: #fcb725; background: -moz-linear-gradient(top,  #fcb725 0%, #fc9f24 50%, #fb8d00 50%, #fa7901 100%); background: -webkit-linear-gradient(top,  #fcb725 0%,#fc9f24 50%,#fb8d00 50%,#fa7901 100%); background: linear-gradient(to bottom,  #fcb725 0%,#fc9f24 50%,#fb8d00 50%,#fa7901 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb725', endColorstr='#fa7901',GradientType=0 );}
	.dropdown-menu {background-color: #0d0d0d; border:none; border-radius: 0px; box-shadow:none; min-width: 100px; padding: 0;}
		.dropdown-menu > li {border-bottom:1px solid rgba(255,255,255,0.5);}
		.dropdown-menu > li > a {color: #FFF; padding: 6px 10px;}
		.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {color: #FFF; background-color: #fa7901;}

.footer{width:100%; background:#111; border-top:3px solid #fc8300; /*margin-top:20px;*/ padding:15px 0;}
	.copyright{font-size:12px; color:#a5a5a5; text-align:center; margin-top:10px;}
	.end-links{color:#a5a5a5; text-align: center;}
	.end-links a{color:#a5a5a5; margin:0px 5px;}
	.end-links a:hover{text-decoration:underline;}

#activity-slider {background: #fff; border: 1px solid #000; font-size:13px; color: #000; line-height:20px; text-align:center; margin: 15px 0;}
	#activity-slider p {background: #f9a21f; color: #000; font-weight: bold; text-align: center; line-height:14px; padding: 5px; margin:0;}
	#activity-slider a { padding:5px;}

.white-box{background:url('../img/box-bg.jpg') repeat-x bottom left #FFFFFF; padding:5px 15px; margin:0 0 15px; border:1px solid #e0e0e0;  -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; -ms-border-radius: 0px 0px 5px 5px; -o-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; box-shadow:0px 3px 0px #808080;}
	.white-box p {font-size:16px; line-height:28px; margin:0 0 15px;}
	.white-box ul li {margin: 10px 0px 10px 15px; position:relative;}
	.white-box ul li:before {content:url(../img/bullet.png); position:absolute; top:1px; left:-14px;}

.white-box_listting{background:url('../img/box-bg.jpg') repeat-x bottom left #FFFFFF; padding:5px; margin:0 0 15px; border:1px solid #e0e0e0;  -moz-border-radius: 0px 0px 5px 5px; -webkit-border-radius: 0px 0px 5px 5px; -ms-border-radius: 0px 0px 5px 5px; -o-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px; box-shadow:0px 3px 0px #808080;}
.menu {clear: both;}
	.menu li {display: block; float:left; width:50%; text-align:center;}
	.menu li a {display:block; background: url("../img/tab-bg.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #000000; color: #FB8300; font-family: 'Roboto Condensed',sans-serif; font-size: 12px; font-weight: bold; line-height: 30px; text-decoration: none;}
	.menu li a.active, .menu li a.active:hover, .menu li a:hover{background:url('../img/tab-selected-bg.jpg') repeat-x; border:1px solid #fb8300; color:#000;}
	#menu6{display:block; height:120px;}
	#menu6.menu li{width:auto;}
	#menu6.menu li a{padding:0 10px;}

	  .arrow{position:absolute; top:6px; right:10px;}

.content1{clear: both;}
	/*.content1 img{box-shadow:0 0 3px #ccc; max-width: 100%; height:auto; padding:10px;}*/
	.content1 ul li {margin: 0px 0px 10px 15px; position:relative;}
	.content1 ul li:first-child {margin: 10px 0px 10px 15px;}
	.content1 ul li:before {content:url(../img/bullet.png); position:absolute; top:1px; left:-14px;}
	.content1 ul li a {color: #101010; font-size: 14px; line-height:18px;}
		.content1 ul li a:hover {color: #fb8300;}

dl {
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    padding: 10px 5px 23px;
    float: left;
    width: 100%;
}
	dl:before {display: table; content: " ";}
	dl:after {clear: both; content: " ";}
	dl:nth-child(even) {background: #f0f0f0;}
	dt {float:left; width:30%; text-align:center;}
		dt img{display:block; margin:0 auto; box-shadow:0 0 3px #ccc; max-width:75%; height:auto;}
	dd {float: left; width:70%;}

.details {float: left; width: 100%; margin-left:5%; position:relative;z-index:9;}
	.details p {font-size: 13px; line-height: 20px; margin-bottom:5px;}
	.details a {display:none; background: rgba(0, 0, 0, 0) url("../img/arrow-bullet.png") no-repeat scroll 3px 3px; color: #fb9000; padding: 0; position: absolute; right: 10px; top:50px; width: 105px; font-size: 14px; font-weight: bold; text-align:right;}
.flag {position: absolute; right: 10px; top: 0px;}
.flag img{width:25px; height:auto; box-shadow:none; min-height: 18px;}
.video {position: relative; display: block; float: left; width: 100%; text-align:right; height: 0; padding: 0; padding-bottom: 70%;}
.video img{box-shadow:0 0 3px #ccc; width:160px; height:auto;}
.video iframe {position:absolute; top:0; left:0; width:100%; height:100%;}
.view-btn{padding:10px 10px 5px; text-align:right;}

.pagination {margin:10px 0;}
.pagination > li {margin:0!important;}
.pagination > li:before {content:''!important;}
.current-page {margin: 10px 0; display: block; line-height: 34px;}

#facebook, #twitter{position:relative; display:block; overflow:hidden; min-height:400px; height:0; padding:0; padding-bottom:52%;}
#facebook iframe, #twitter iframe {position:absolute; top:0; left:0; width:100%; height:100%;}

.slide10{background-color: #FC8F00; cursor: pointer; color: white; padding:5px;}

.right_updates {background-color: #fff; border: 1px solid #ccc; margin-bottom: 15px; padding: 8px 4px 4px; text-align:center;}
.img-app{display:block; border:1px solid #ccc; border-radius:5px; width:160px; height:auto; margin:0 auto 15px;}

#pagination-top form, #pagination-bottom form {text-align: right;}
#pagination-top {border-bottom: 1px solid orange; padding-bottom: 5px;}
#pagination-bottom {border-top: 1px solid orange; padding-top: 5px;}
.list ul li {clear: both; display: table; border-bottom: 1px solid #E0E0E0; padding: 10px; margin:0; width:100%;}
	.list ul li:before{content:''}
.list h3 {cursor: pointer;}
.list .row .col-sm-3  img{max-width:100%; height:auto;}
.list .row .col-sm-4 {margin-bottom:10px; text-align:center;}
	.list .row .col-sm-4:last-child {margin-bottom:0px;}

ol.list_ol{margin-left:15px; list-style:decimal;}
	ol.list_ol li{margin-bottom:10px;}

.testimonials h3{line-height:40px;}
.testimonials img{max-width:40px; height:auto; vertical-align: bottom;}
.testimonials p{font-family:"Times New Roman", serif; font-style:italic; display:block; position:relative; padding:0 20px;}
	.testimonials p:before{content:url(../img/colon.png); position:absolute; top:0px; left:-5px;}

#list-search {margin-bottom: 10px;}

.community-box {margin-bottom: 15px; padding: 10px; border: 1px solid #ccc; min-height: 240px; position: relative; text-align: center;}
.community-box img {margin:0px auto; max-width: 160px; height: auto; vertical-align:bottom;}

.sep-top {border-top: 1px solid #ccc; padding-top:10px;}

.profile {padding: 5px; margin:20px 0; box-shadow: 0px 0px 3px #ccc;}
.profile-img img, .profile-contact img{width:100%; height:auto;}
.profile-info img.country{float: right; margin-top: 5px; width:50px; height:auto;}
.profile-info h2{margin:0 0 10px;}
.profile-info .row:first-child{margin-bottom:10px;}
.profile-info p{border-bottom: 1px solid #DDD; margin:0; line-height:15px; padding:5px;}
.profile-info p:nth-child(even){background-color:#FFF;}

.table>thead>tr>th {padding: 5px; background-color: #473E3D; color: #FB7008; font-size: 14px; text-align:center;}
.table>tbody>tr>td, .table>tfoot>tr>td {padding: 5px; font-size: 13px; text-align:center;}

.table-sm>thead>tr>th {padding: 3px; font-size: 11px;}
.table-sm>tbody>tr>td {padding: 3px; font-size: 10px;}
.table-sm>tbody>tr>td:last-child {white-space:nowrap}
.table-sm>tbody>tr>td:last-child i{margin-bottom:7.5px;}

.panel-group .panel-default {margin:0 0 10px; border:1px solid #eaeaea;}
.panel-group .panel-heading {background:#FFF; height:42px; padding:0;}
.panel-group .panel-heading h4 a{font-family: 'Roboto Condensed', sans-serif; font-size: 18px; line-height:40px; color:#666; text-decoration:none; display:block;}
.panel-group .panel-heading h4 a span{font-family:FontAwesome; font-style:normal; font-weight:normal; float:left; margin:3px 16px; border-right:1px solid #eaeaea; width:32px; height:35px;}
.panel-group .panel-heading h4 a .sign:before{font-family:FontAwesome; content:"\f067"; font-size: 20px; line-height:40px; color:#666;}
.panel-group .panel-heading h4 a:hover, .panel-group .panel-heading h4 a:active, .panel-group .panel-heading h4 a:focus{color:#fb8300; text-decoration:none;}
.panel-group .panel-heading h4 a:hover .sign:before,
.panel-group .panel-heading h4 a:active .sign:before,
.panel-group .panel-heading h4 a:focus .sign:before{font-family:FontAwesome; content:"\f068"; font-size: 20px; line-height:39px; color:#fb8300;}

/*.panel-group .panel-heading {
  border-bottom:0px;
}*/
.panel-group .panel-body {padding:10px 15px 0;}
.panel-group .panel-body p{font-size:16px; line-height:21px; text-align: justify; margin:0 0 10px; color:#666;}

.rating {cursor: default; position: relative; overflow: hidden; white-space: nowrap; display: inline-block; vertical-align: middle;}
.empty-stars {color: #aaa;}
.star {display: inline-block; margin: 0 3px; text-align: center; font-size:24px;}
.filled-stars {position: absolute; left: 0; top: 0; margin: auto; color:#fb8300 /*#fde16d*/; white-space: nowrap; overflow: hidden; transition: width .25s ease; -o-transition: width .25s ease; -ms-transition: width .25s ease; -moz-transition: width .25s ease; -webkit-transition: width .25s ease;}

.accordion-heading a.accordion-toggle.collapsed{display:block; width:100%; font-family:'Roboto Condensed', sans-serif; font-size:20px; color:#fb8300; line-height:22px; padding:4px 10px; border:1px solid #000; box-shadow:0 0 2px rgba(255,255,255,0.8) inset; background: #353535; background: -moz-linear-gradient(top,  #353535 0%, #333333 50%, #101010 50%, #0d0d0d 100%); background: -webkit-linear-gradient(top,  #353535 0%,#333333 50%,#101010 50%,#0d0d0d 100%); background: linear-gradient(to bottom,  #353535 0%,#333333 50%,#101010 50%,#0d0d0d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#0d0d0d',GradientType=0 );}

.accordion-heading a.accordion-toggle.collapsed:hover, .accordion-heading a.accordion-toggle{display:block; width:100%; font-family:'Roboto Condensed', sans-serif; font-size:20px; color:#FFF; text-decoration:none; line-height:22px; padding:4px 10px; border:1px solid #fa7901; box-shadow:0 0 2px rgba(255,255,255,0.8) inset; background: #fcb725; background: -moz-linear-gradient(top,  #fcb725 0%, #fc9f24 50%, #fb8d00 50%, #fa7901 100%); background: -webkit-linear-gradient(top,  #fcb725 0%,#fc9f24 50%,#fb8d00 50%,#fa7901 100%); background: linear-gradient(to bottom,  #fcb725 0%,#fc9f24 50%,#fb8d00 50%,#fa7901 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb725', endColorstr='#fa7901',GradientType=0 );}

.accordion-inner ul{display:block; margin:0 10px;}
.accordion-inner ul li{display:block; margin:10px 0px 0px 15px; border-bottom:1px dashed; padding-bottom:2px;}
.accordion-inner ul li:last-child{border-bottom:none; margin-bottom:5px;}
.accordion-inner ul li:before{content: url(../img/dashboard-bullet.png); left: -20px;}
.accordion-inner ul li a{color:#101010}
.accordion-inner ul li a:hover, .accordion-inner ul li.active a{color:#fa7901; text-decoration:none;}
.page-container {position: relative; background: #505050;}
.page-container::before, .page-container::after {display: table; content: " ";}
.page-container::after {clear: both;}
.page-content-wrapper {float: left; width: 100%;}
.page-content-wrapper > .page-content {min-height: 600px; padding: 25px 15px; background:#f2f2f2;}
.page-sidebar-wrapper > .page-sidebar.collapse {display:block;}
.page-sidebar.navbar-collapse {padding: 0; max-height: none !important; float:none; width:100%;}
.poll-div {border: 1px solid #b4c1a7; padding: 8px; margin:0 0 15px;}
.poll_option {margin:0 0 5px;}

/***
SIDEBAR
***/
.sidebar-toggler {display:none; margin-top:30px; margin-left:150px; padding:7px 5px; cursor:pointer;  opacity:0.5; filter:alpha(opacity=50); width:29px; height:29px; background-color:#242424;}
	.sidebar-toggler:hover {filter: alpha(opacity=100); opacity: 1;}
	.sidebar-toggler .icon-bar + .icon-bar {margin-top: 4px;}
	.sidebar-toggler .icon-bar {display: block; width: 18px; height: 2px; background-color: #FFF;}

.page-sidebar h2{padding:0; margin:30px; font-size:21px; color:#0083d7; line-height:25px;}
.page-sidebar h3{margin:0; padding:15px 20px; font-size:21px; font-weight: 400; color:#FFF; background:#0083d7;}
.page-sidebar h2 span{font-size:18px; color:#FFF;}

ul.page-sidebar-menu{margin-top: 30px;}
ul.page-sidebar-menu li{display:block; position:relative;}
ul.page-sidebar-menu li.start{border-top:1px solid #757575; margin-top:25px;}
ul.page-sidebar-menu li a{display:block; font-family: 'Roboto Condensed', sans-serif; font-size:16px; color:#FFF; font-weight:400; padding:15px 10px; position:relative; border-bottom:1px solid #757575;}
ul.page-sidebar-menu li a:hover, ul.page-sidebar-menu li a:focus{background:#3e3e3e; text-decoration:none;}
ul.page-sidebar-menu li.open{background:#F33;}
ul.page-sidebar-menu li:nth-child(2).open a{background:#479ad2;}
ul.page-sidebar-menu li:nth-child(3).open a{background:#f66e00;}
ul.page-sidebar-menu li:nth-child(4).open a{background:#2ecc71;}
ul.page-sidebar-menu li:nth-child(5).open a{background:#852b99;}
ul.page-sidebar-menu li:nth-child(6).open a{background:#FFCC33;}
ul.page-sidebar-menu li:nth-child(7).open a{background:#ffc800;}
ul.page-sidebar-menu li:nth-child(8).open a{background:#ed6952;}

ul.page-sidebar-menu li:nth-child(1).open a:hover{background:#F33; color:#FFF;}
ul.page-sidebar-menu li:nth-child(2).open a:hover{background:#479ad2; color:#FFF;}
ul.page-sidebar-menu li:nth-child(3).open a:hover{background:#f66e00; color:#FFF;}
ul.page-sidebar-menu li:nth-child(4).open a:hover{background:#2ecc71; color:#FFF;}
ul.page-sidebar-menu li:nth-child(5).open a:hover{background:#852b99; color:#FFF;}
ul.page-sidebar-menu li:nth-child(6).open a:hover{background:#FFCC00; color:#FFF;}
ul.page-sidebar-menu li:nth-child(7).open a:hover{background:#ffc800; color:#FFF;}
ul.page-sidebar-menu li:nth-child(8).open a:hover{background:#ed6952; color:#FFF;}

ul.page-sidebar-menu > li > ul.sub-menu {display: none; list-style: none; clear: both; margin: 0px 0px; padding: 0; }
ul.page-sidebar-menu > li.active > ul.sub-menu {display: block;}

ul.page-sidebar-menu > li > ul.sub-menu > li > a {font-weight:300; font-size:16px; padding:11px 15px 11px 25px; background:#616161 !important}
ul.page-sidebar-menu > li > ul.sub-menu > li > a:hover {color: #ffffff !important; background: #717171 !important;}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a {color: #ffffff !important; background: #717171 !important;}

ul.page-sidebar-menu > li > ul.sub-menu > li.active > a:after{content:''; width: 0; height: 0; border-top: 20px solid transparent; border-left: 15px solid #717171; border-bottom: 19px solid transparent; position:absolute; top:0; right:-15px; z-index:100}

.dashboard-icon{width:16px; height:16px; background:url('../img/Dashboard-Icon.png') no-repeat;}

/***
Sidebar Closed
***/
.page-sidebar-closed  .page-sidebar {width: 35px;}
.page-sidebar-closed  .page-content {margin-left: 35px !important;}
.page-sidebar-closed .page-sidebar .sidebar-toggler {margin-left: 3px;}
.page-sidebar-closed .page-sidebar > ul {width: 35px !important;}
.page-sidebar-closed .page-sidebar > ul > li > a,
.page-sidebar-closed .page-sidebar > ul.page-sidebar-menu > li > ul.sub-menu > li > a  {padding-left: 5px !important; padding-right: 5px !important;}
.page-sidebar-closed .page-sidebar > ul > li > a i {line-height:20px;}
.page-sidebar-closed .page-sidebar > ul > li:hover{min-width: 195px !important; position: relative !important; z-index: 2000; display: block !important;}
.page-sidebar-closed .page-sidebar > ul > li > a > span.menu_text,
.page-sidebar-closed .page-sidebar > ul.page-sidebar-menu > li > ul.sub-menu > li > a > span.menu_text {display:none;}
.page-sidebar-closed .page-sidebar > ul > li:hover > a > span.menu_text,
.page-sidebar-closed .page-sidebar > ul.page-sidebar-menu > li:hover > ul.sub-menu > li > a > span.menu_text {display:inline-block;}
.page-sidebar-closed .page-sidebar > ul > li > a > i,
.page-sidebar-closed .page-sidebar > ul.page-sidebar-menu > li > ul.sub-menu > li > a > i{display:inline-block!important; margin-right:5px; font-size:16px;}
#identity-card {border: 1px solid #515151; margin: 20px auto; padding:15px; min-height: 280px; position: relative;}
.identity-card-logo{position:relative;}
.identity-card-logo img{max-width:100%; height:auto; margin-bottom:15px;}
.identity-card-logo p {font-size: 12px; line-height: 14px; text-align: center; margin: 0; position: absolute; left: 80px; top: 5px; width: 160px;}
.identity-card-country img{float:right; max-width:20%; height:auto;}
.identity-card-name{text-align: center; font-weight: bold; font-size: 16px; font-family: Garamond; font-style: italic; line-height: 24px; margin-top:15px;}
.identity-card-img img{display:block; max-width:50%; height:auto; margin:15px auto 0;}
#friend {text-align:center; min-height: 190px; padding: 4px; margin:0 0 10px; background: rgb(245, 255, 255); border: 1px solid #fb8300; -moz-border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius:5px; color:#F03}
#friend img{display:block; max-width:120px; height:auto; margin:0 auto 5px;}
#friend p{color: #096DA9; font-family: 'Roboto Condensed',sans-serif; font-size: 20px; margin:0 0 5px;}
.profile-top-nav{width:100%;background-color: #c1711b;border: 1px solid #804b12;box-shadow: 0 0 1px #814b12;height: 28px;}
#menu-company-profile li{width:20%;}
#menu-individual-profile li{width:10%;}
.empty-ads{background: #efefef; border: 1px solid #333; text-align: center;width:90%; margin-left:10px;}
/******************* 08 Jan 2018 *********************/
.global_regional {
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    margin-bottom: 15px;
}
.global_regional .select_bx {
    width: 100%;
    display: inline-block;
    max-width:70px;
}
.global_regional h4{color:#242424; font-size:18px; border-bottom:none;}
.global_regional h4 span {
    color: #096DA9;
}
.tit_head .btns {
    margin-bottom: 15px;
    padding: 0 10px;
}
.white-box .global_regional p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 0;
}
.detail_address{ padding-bottom:10px;}
.global_regional_panel {
    max-height:490px;
    overflow-y: auto;
    overflow-x: hidden;
}
.tit_head h2 {
    margin-bottom: 0;
}
.form-control.select_bx {height: 30px;padding: 2px 12px;}
.global-form .btns a {
    vertical-align: top;
    display: inline-block;
    margin:0px 5px; cursor:pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 15px;
}
.global-form .btns img{margin: 7px 0 0;}
.global-form .btns p {
    margin-bottom: 0;
}
.v-img img {
    width: 100%;
    height: 100px;
}
.vertical_panel {max-height:208px;overflow: auto;margin-bottom: 10px;}
#profile_details{padding:15px 0;}
#global_banner {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}
/********************
MEDIA QUERIES
*********************/
@media only screen and (max-width: 480px) {
.panel-group .panel-heading{height:auto;}
.panel-title {margin-bottom: 0 !important;}
.panel-group .panel-heading h4 a span {display:none;}
.panel-group .panel-heading h4 a{padding:10px; text-align:center; line-height:26px;}
.panel-group .panel-body {padding: 20px; text-align: center;}
.panel-group .panel-body p{font-size:14px; line-height:18px; text-align: center;}
#league-menu > li:nth-child(11),#league-menu > li:nth-child(12){width:100%;}
#menu-company-profile li{width:50%;}
#menu-individual-profile li{width:50%;}
}
@media only screen and (max-width:768px){
	.page-sidebar-menu{display:block !important;}
	.flag {position:relative;right:0px;}
	#menu-company-profile li{width:50%;}
	#menu-individual-profile li{width:50%;}
	.white-box h2 {font-size: 16px;}
	.white-box .btn.orange.hvr-float-shadow {display:block;margin: 15px 0 0;}
	.club-tip .tooltip_show {top: 19px;left: 87px;}
	.white-box form#signup-form {padding:0;}
	.white-box #signup-form h2 {margin: 10px 0 12px;}
	.white-box #signup-form .g-recaptcha {transform: scale(0.78) !important;margin-left: -28px !important;}
	.white-box #signup-form .col-md-2.control-label {margin-bottom: 8px;}

}
/*@media only screen and (max-width:1024px){
	.page-sidebar-menu{display:block !important; width:40%;}
	.page-sidebar-menu.navbar-nav > li > span{padding:0;}
}*/

@media only screen and (min-width:360px) {
	.menu li a {font-size:14px;}
	.identity-card-logo p {font-size: 14px; line-height: 18px; left: 110px; width: 180px;}
	.identity-card-name{font-size: 20px;}
	#myCarousel .carousel-inner, #myCarousel3 .carousel-inner {width: 320px;}
	.video {padding-bottom: 60%;}

}
@media only screen and (min-width:480px) {
.navbar-header p {font-size: 14px; left: 150px; top: 30px;}
.navbar-nav > li {width:33.3333%;}
.navbar-nav > li:nth-child(1), .navbar-nav > li:nth-child(2), .navbar-nav > li:nth-child(4), .navbar-nav > li:nth-child(5), .navbar-nav > li:nth-child(7), .navbar-nav > li:nth-child(8) {background:url('../img/nav_sep.png') no-repeat top right;}
.navbar-nav > li:nth-child(3), .navbar-nav > li:nth-child(6), .navbar-nav > li:nth-child(9) {background:none;}
.menu li a {font-size:16px;}
#menu6{height:90px;}
dt {width: 20%;}
dd {width: 80%;}
.details {margin-left: 3%; width: 55%;}
.details a {display:block;}
.video {width: 42%; padding-bottom: 40%;}
#identity-card {width:75%}

}
@media only screen and (min-width:640px) {
#identity-card {width:53%}
#menu6{height:60px;}
#menu6.menu li a{padding:0 8px;}
.video {padding-bottom: 30%;}
}
@media only screen and (min-width:768px) {
#frm-search {margin-bottom: 0px;}
ul.social li {margin: 0 5px;}
.signup-buttons .col-xs-12 {margin-bottom: 0px;}
.signup-buttons .btn {font-size:12px;}
#myCarousel2 .carousel-inner {max-width: 650px;}
.carousel-indicators {right: 90px;}
.details {margin-left: 0; width: 60%;}
.details a{top: 90px;}
.video {width: 40%; padding-bottom: 23%;}
.list .row .col-sm-4 {margin-bottom:0px;}
.list .row .col-sm-4:first-child {text-align:left;}
.list .row .col-sm-4:last-child {text-align:right;}
.sep-top{border-top:none; padding-top:0;}
.sep-left{border-left:1px solid #ccc;}
.sep-right{border-right:1px solid #ccc;}
#identity-card {width:85%}
.identity-card-name {margin-top: 80px;}
#menu6.menu li a{padding:0 19px;}
}
@media only screen and (min-width:1024px) {
.navbar-nav{background: #353535; background: -moz-linear-gradient(top,  #353535 0%, #333333 50%, #101010 50%, #0d0d0d 100%); background: -webkit-linear-gradient(top,  #353535 0%,#333333 50%,#101010 50%,#0d0d0d 100%); background: linear-gradient(to bottom,  #353535 0%,#333333 50%,#101010 50%,#0d0d0d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#0d0d0d',GradientType=0 );}
.navbar-nav > li {width:auto; background:url('../img/nav_sep.png') no-repeat top right !important;}
.navbar-nav > li:last-child {background:none!important;}
/*.navbar-nav > li:last-child a{background:#ed201b; color:#FFF;}*/
.navbar-nav > li > a{font-size:12px; padding:0 16.3px;}
#logged-nav > li > a{font-size:12px; padding:0 12px;}
.dropdown-menu > li > a {font-size:12px; padding: 6px 5px;}
.page-content-wrapper > .page-content {margin-left: 190px;}
.page-sidebar-wrapper > .page-sidebar {width: 190px; float: left; position: relative; margin-right: -100%;}
.sidebar-toggler {display:block;}
#activity-slider {height: 25px; line-height: 24px; overflow: hidden; text-align:left;}
#activity-slider p {float:left; width: 125px;}
#myCarousel .carousel-inner, #myCarousel2 .carousel-inner, #myCarousel3 .carousel-inner {max-width: 100%;}
.carousel-indicators {right: 30px;}
.details {margin-left: 2%; width: 58%;}
#identity-card {width:85%}
.video {padding-bottom: 28%;}
#menu6{height:30px;}
#menu6.menu li a{font-size:14px; padding:0 8px;}

#league-menu,#club-menu,#individual-menu,#company-menu,#individual-other-menu{width:100%;}
#league-menu li{width:5%;}
#league-menu > li:nth-child(5),#league-menu > li:nth-child(7){width:8%;}
#league-menu > li:nth-child(11){width:10%;}
#league-menu > li:nth-child(12){width:23%;}
#league-menu > li:nth-child(13){width:6%;}
#league-menu li a,#club-menu li a,#individual-menu li a,#company-menu li a,#individual-other-menu li a{font-size:100%;padding:0px;}
#club-menu li{width:10.7%;}
.club-member-li {width:14% !important;}
#individual-menu li{width:6.2%;}
.indv-photo-li{width:6% !important;}
.seek-opp-li{width:14% !important;}
.travel-details-li{width:12% !important;}
#individual-other-menu li{width:7%;}
#company-menu li{width:14.2%;}
}
@media only screen and (min-width:1280px) {
.signup-buttons .btn {font-size:14px;}
.navbar-collapse {width: 910px;}
.navbar-nav > li > a{font-size:15px; padding:0 25px;}
#logged-nav > li > a{font-size:15px; padding:0 19px;}
/*#activity-slider {width: 98%;}*/
.details {margin-left: 0; width: 60%;}
.video {padding-bottom: 23%;}
.img-app {width: 100%;}
#identity-card {width:600px;}
#menu6.menu li a{font-size:16px; padding:0 13.5px 0 14px;}
.carousel-inner .item a img{width:100% !important; height: 270px !important;}
}
@media only screen and (min-width:1366px) {
#menu6.menu li a{padding:0 16.5px;}
}
@media only screen and (min-width:1440px) {
#menu6.menu li a{padding:0 20px;}
.video {padding-bottom: 21%;}
}
@media only screen and (min-width:1920px) {
#menu6.menu li a{padding:0 38.5px;}
.video{padding-bottom: 16%;}
}
/********marketplace 9/12/2017**********/
.mrkt_plc_outter {border-bottom: 1px;border-right:1px;border-style: outset;padding:5px;padding-bottom: 10px;}
.mrkt_plc_outter p {padding-top: 10px;}
.mrkt_plc_name {padding-top: 3px;width: 68%;}
.mrkt_plc_name h5 {color:#096DA9;float: left;margin: 0;}
.mrkt_plc_name span{float:right;line-height: 25px;display: block;padding-right: 20px;}


@media screen and (max-width:767px) and (min-width:300px) {
.mrkt_plc_outter {border:1px;border-style: outset;}
.mrkt_plc_name {width: 100%;padding-bottom: 10px;}
}

/******************************/
body.dragging, body.dragging * {cursor: move !important;}
div.drag img{-moz-transition:width 0.3s, height 0.3s; -webkit-transition:width 0.3s, height 0.3s;
-o-transition:width 0.3s, height 0.3s;transition:width 0.3s, height 0.3s;}
.dragged {position: absolute;opacity: 0.5;z-index: 2000;}
div.drag .placeholder:before {position: absolute;}
div.drag .placeholder{vertical-align: middle; display: inline-block; background-color: #CCC; width: 200px;height:200px;position: relative;border: 2px dashed #000;line-height: 1.428571429;background-color: #fff;border-radius: 4px; padding: 4px;}
.drag_img_bx {position:relative;border:1px solid #ccc;padding:5px;text-align:center;float:left;width:100%;}
.drag_img_bx img {width: 100%; height: 133px;}
a.cross_ico {position: absolute;top:-4px;right:-4px;background: #fff;border-radius:50%;width:20px; height: 20px;font-size: 10px;text-align: center;padding-top: 1px;border: 1px solid #ddd;}
a.cross_ico:hover {background: #000; color: #fff;border: 1px solid #000;}
.drag_img_bx h4 {color: #333;margin: 5px 0;font-size: 18px; text-align: center;}
.drag_img_bx a.btn { padding: 2px 10px;}
#Required_Person_Form{margin-bottom:15px;}
#Required_Person_Form label {margin-bottom: 5px;}
#Required_Person_Form .form-group {margin-left: 0;margin-right: 0;}
.social li.dropdown {float: left;}
.social ul.dropdown-menu li {display: block;float: none;margin: 0;}
span.dropdown-toggle{ cursor:pointer;}
.social ul.dropdown-menu li a{ padding:5px 15px;}
#global_banner .v-img {margin-bottom: 10px;}
.social i.fa.fa-bell {
    font-size: 20px;
}
.social ul.dropdown-menu{ width:100%; min-width:200px;}
ul.social ul {
    border: 1px solid #ddd;
    border-radius: 4px;
}
.social ul.dropdown-menu li:last-child {
    text-align: center;
}
.social li.dropdown b {
    position: absolute;
    top: -9px;
    right: -17px;
    background: #ff7b01;
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 18px;
    text-align: center;
}
.notify_user img.img-responsive {
    margin-top: 7px;
}

.notify_user {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.notify_user p {
    margin-bottom: 0;
}
.notify_user .btn.orange {
    margin:10px 0;
}
.notify_user span{color:#9e9c9c;}

.notify_user h4 {
    color: #000;
}
.notify_user h4 span{
    color: #096DA9;
}
#form-div p.form-control-static {
    padding-top: 7px;
    font-weight: 600;
}
.profile .spo-text {
    font-size: 22px;
    color: #096DA9;
    text-align: left;
}

body #individual-menu .indv-photo-li {
    width: 8.1% !important;
}
.star_panel {
    display: inline-block;
    padding: 0 5px 0 0;
}
.white-box_listting #individual-other-menu .indv-photo-li {
    width: 8.3% !important;
}
div#home_page_sidebar {
    max-height:624px;
    overflow-y: auto;
	overflow-x:hidden;
}
div#photos {
    padding: 0 15px;
}
div#photos img{ width:100%; max-height:inherit;}
label.error {
    color: #ff3333;
    font-weight: normal;
}
a.btn.orange.full.hvr-float-shadow.margin-top-10 {
    margin-bottom: 20px;
}
a.btn.blue.full.hvr-float-shadow {
    margin-bottom: 10px;
}
.global-form .btns a{margin-bottom:5px;}
.filter_panel .form-control { margin-bottom: 10px;}
.sep-right .orange:hover {
    color: #000;
}
.gridly {position: relative;}
.brick.small {width: 180px;height: 180px;}
ins.adsbygoogle {
    width: 100% !important;
    overflow: hidden !important;
}
#google_center_div {display: block !important;}
#facebook ._2p3a {width: 100% !important;}
#advance_search_form input, #advance_search_form select {
    margin-bottom: 10px;
}
.details h3 a {
    position: static;
    font-size: 24px;
    width: auto;
    text-align: left;
    background: none;
}
ul.page-sidebar-menu li a{ cursor:pointer;}
#news ul li h3 a {font-size: 24px;color: #fb8300;}

.member h3 {
    margin-bottom: 5px;
}
.login_panel {
    width: 100%;
    max-width: 600px;
    margin: 25px auto;
    padding: 24px 48px;
    text-align: center;
    border: 1px solid #ccc;
    background: #efefef54;
}
/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;margin-bottom:10px;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('../img/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
form#signup-form {
    margin: 4px auto;
    width: 100%;
    max-width: 1018px;
    background: #efefef54;
    padding: 0 30px;
}

.tooltip_show {
    position: absolute;
    right:-2px;
    cursor: pointer;
    height: 15px;
    top: 11px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    font-weight: normal;
    width: 15px;
    text-align: center;
}
.tooltip_show i {
    font-size: 11px !important;
    vertical-align: top;
    padding: 2px;
}
#signup-form span.help-block {
    margin: 0;
}
#signup-form .alert-info {
    font-size: 12.5px;
    padding: 8px 4px;
}
#signup-form h2{margin:10px 0 4px;}
#travel-requirements .form-control-static {line-height:34px;}
body .formError .formErrorContent {min-width: 139px;}
div#password-result {padding:3px;color:#fff;}
#loginView .modal-dialog {max-width: 750px;width: 100%;}
#loginView .login_panel {
    margin: 0 auto; background:#efefef;
}
#loginView .modal-content {
    background: #fff;
    box-shadow: none;
    border: none;
}
.check_permalink{width:92%;float:left;}
.my-chk-span {
  font-size: 22px;
  margin-top: 8px;
  position: absolute;
}
input[type=file] {margin: 5px 0 0;}

@media (max-width:1280px)
{
.navbar-nav > li > a { font-size:15px;padding: 0 20px;}
}
@media (max-width:1279px)
{
.navbar-nav > li > a { font-size:14px;padding: 0 14px;}
}
@media (max-width:1024px)
{
.navbar-nav > li > a { font-size:12px;padding: 0 16.3px;}
.list ul li{ padding-bottom:5px;}
.sep-top {float: left; width: 100%;margin: 10px 0; padding-top:10px;}
}
@media (max-width:768px)
{
.statistics-filters select {margin-bottom: 10px;}
.white-box .member {width: 48.5%;}
}
@media (max-width:767px)
{
.profile-img img {max-height:inherit !important;}
.v-img img {height: auto;}
body #individual-menu .indv-photo-li, .menu li{width:50% !important;}
.white-box_listting ul {height: auto !important;float:left;position:relative;width:100%;z-index:9;}
#profile_details {float:left; width:100%;margin: 0;}
.white-box_listting {float:left;width: 100%;}
li.profile-top-nav {width: 100% !important;}
.panel-default>.panel-heading .img-responsive {max-width: inherit !important;width: 100%;}
.social i.fa.fa-bell { font-size: 13px;}
.social li.dropdown b {top: -9px;  right: -12px; font-size: 10px;  width: 16px; height: 16px;}
.white-box_listting #individual-other-menu .indv-photo-li{width:50% !important;}
.profile-info h2{ font-size:24px;}
div#individual {float: left;width: 100%;position: relative; z-index: 99;}
.statistics-filters {float: left; width: 100%;}
#sponsorModal {width: 100% !important;}
form#myform {padding: 0 20px;}
.drag_img_bx{margin-bottom: 10px;}
.col-md-10.ads-10 {margin-bottom: 20px;}
.white-box_listting .week_li{ width:100% !important;}
.white-box_listting .schedule_li{ width:100% !important}
.sep-top, .col-sm-6.col-md-8.sep-right {float: left;width: 100%;}
.list ul li{ padding-bottom:5px;}
.sep-top {float: left; width: 100%;margin:10px 0; padding-top:10px;}
.fl.top-full-ads {display: none;}
#gallery1{ text-align:center;}
.gridly {text-align: center;width:180px;display: inline-block;}
div#navbar {position: absolute;left:0;width: 100%;z-index: 99;margin: 0 !important; background: #fff;}
form#signup-form input, form#signup-form select, #individual  input, #individual select, #companies input, #companies select{ margin-bottom: 10px;}
form#signup-form .form-group, #individual .form-group, #companies  .form-group{margin-bottom:0;}
.alert-info{ margin-top:10px;}
.content1 {padding: 15px 0 0;}
input#club_members_search {margin:10px 0 0 !important;}
#schedule-filters .form-control {margin-bottom: 14px;}
#bar1_chart, #runs_type1_chart, #line1_chart, #run_rate1_chart, #extras1_chart, #how_out1_chart, #bar2_chart, #runs_type2_chart, #line2_chart, #run_rate2_chart, #extras2_chart, #how_out2_chart{ overflow-x:auto;overflow-y:hidden;}
#invite_friends .form-group{margin-bottom:0;}
#invite_friends .form-control, #invite_friends .btn{margin-bottom:10px;}
}
@media (max-width:639px)
{
.content1 dt, .white-box dt {float:left;width: 100%; text-align: center;}
.content1 dd, .white-box dd {float:left;width: 100%;margin-top: 10px;}
.details {float: left;width:100%;margin:0;text-align: center;}
.details h3 br {display: none;}
.video {padding-bottom: 42%;text-align:center;width:100%;}
.video img {display: inline-block;float:none;}
.details a {display: inline-block;position:static;}
.flag {position: static; width: 100%;text-align: center; display: block;float: left;}
h1{ font-size:30px;}
ul.page-sidebar-menu > li > ul.sub-menu > li.active > a:after{ display:none;}
a.btn.blue.full.hvr-float-shadow {margin-bottom: 0px;}
.navbar-fixed-top .navbar-collapse {max-height: inherit;overflow: inherit;}
.navbar-nav{ margin-top:6px;}
.navbar-nav .dropdown-menu > li > a {font-size: 11px;}
#global_banner {margin-bottom:15px;}
div#step3 #menu li, div#step2 #menu li {width: 100% !important;}
.white-box .member {margin: 10px 0; min-height: inherit;height:auto;text-align:center;width:100%;}
.white-box .member img {width: 100%;margin:0; max-height:inherit;}
}
.err-red{
	background: rgba(255, 0, 0, 0.83) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	padding: 3px;
	margin-top: 4px;
}
.err-green{
	background: green;
	color: rgb(255, 255, 255);
	padding: 3px;
	margin-top: 4px;
}
